force-app/main/default/flows/ActualizarOportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Cuando la etapa de la opp está en proceso se envía un correo al equipo de Oportunidades</description>
        <name>EnviarCorreo</name>
        <label>Enviar Correo</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <actionName>Opportunity.AlertaEstadoEnProceso</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.AlertaEstadoEnProceso</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <description>Si el creador oportunidad no es de la sede se manda a una cola de tareas para su sguimiento</description>
        <name>CreadorOportunidad</name>
        <label>CreadorOportunidad</label>
        <locationX>4670</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>CrearTarea_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PropietarioSede</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amavir Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0</targetReference>
            </connector>
            <label>Propietario Sede</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el creador oportunidad no es de la sede se manda a una cola de tareas para su sguimiento</description>
        <name>CreadorOportunidad_0</name>
        <label>CreadorOportunidad</label>
        <locationX>5198</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>CrearTarea_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PropietarioSede_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amavir Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0_0_0</targetReference>
            </connector>
            <label>Propietario Sede</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el creador oportunidad no es de la sede se manda a una cola de tareas para su sguimiento</description>
        <name>CreadorOportunidad_0_0</name>
        <label>CreadorOportunidad</label>
        <locationX>5726</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>CrearTarea_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PropietarioSede_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amavir Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0_0_0_0</targetReference>
            </connector>
            <label>Propietario Sede</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se rellenan los criterios de lista de espera, se cambia automáticamente la oportunidad a lista de espera</description>
        <name>EtapaListaEsperaAutomatica</name>
        <label>Etapa lista de espera automática</label>
        <locationX>3746</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>ObtenerTipoRegistrTarea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>CriteriosRellenos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CriterioPreferenciaListaEspera__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CriterioPreferenciaListaEspera__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosEtapaListaEspera</targetReference>
            </connector>
            <label>Criterios rellenos</label>
        </rules>
    </decisions>
    <decisions>
        <name>FechaCierre</name>
        <label>¿Fecha de salida está vacío?</label>
        <locationX>3350</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>FechaCierreHoy1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CloseDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FechaCierreHoy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarEtapa</targetReference>
            </connector>
            <label>¿Fecha de cierra es hoy?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Domingo está relllena, ocupamos la plaza</description>
        <name>PlazaDomingoVacia</name>
        <label>¿Plaza Domingo está vacío?</label>
        <locationX>1832</locationX>
        <locationY>4391</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaDomingo_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaDomingoRellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaDomingo__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza Domingo Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Domingo está relllena, ocupamos la plaza</description>
        <name>PlazaDomingoVacia_0</name>
        <label>¿Plaza Domingo está vacío?</label>
        <locationX>2624</locationX>
        <locationY>4607</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaDomingo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaDomingoRellena_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaDomingo__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza Domingo Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Jueves está relllena, ocupamos la plaza</description>
        <name>PlazaJuevesVacia</name>
        <label>¿Plaza Jueves está vacío?</label>
        <locationX>1832</locationX>
        <locationY>2735</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaJueves_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaJuevesRellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaJueves__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza Jueves Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Jueves está relllena, ocupamos la plaza</description>
        <name>PlazaJuevesVacia_0</name>
        <label>¿Plaza Jueves está vacío?</label>
        <locationX>2624</locationX>
        <locationY>2951</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaJueves</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaJuevesRellena_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaJueves__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0_0_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza Jueves Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Lunes está relllena, ocupamos la plaza</description>
        <name>PlazaLunesVacia</name>
        <label>¿Plaza Lunes está vacío?</label>
        <locationX>2228</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaLunes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaLunesRellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaLunes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza Lunes Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Martes está relllena, ocupamos la plaza</description>
        <name>PlazaMartesVacia</name>
        <label>¿Plaza Martes está vacío?</label>
        <locationX>1832</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaMartes_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaMartesRellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaMartes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza Martes Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Martes está relllena, ocupamos la plaza</description>
        <name>PlazaMartesVacia_0</name>
        <label>¿Plaza Martes está vacío?</label>
        <locationX>2624</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaMartes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaMartesRellena_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaMartes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza Martes Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Miércoles está relllena, ocupamos la plaza</description>
        <name>PlazaMiercolesVacia</name>
        <label>¿Plaza Miércoles está vacío?</label>
        <locationX>1832</locationX>
        <locationY>2183</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaMiercoles_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaMiercolesRellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaMiercoles__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza MiércolesRellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Miércoles está relllena, ocupamos la plaza</description>
        <name>PlazaMiercolesVacia_0</name>
        <label>¿Plaza Miércoles está vacío?</label>
        <locationX>2624</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaMiercoles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaMiercolesRellena_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaMiercoles__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza MiércolesRellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza de residencia está relllena, ocupamos la plaza</description>
        <name>PlazaResidenciaVacio</name>
        <label>¿Plaza residencia está vacío?</label>
        <locationX>1386</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaResidencia_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaResidenciaRellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plaza__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plaza__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaOcupada</targetReference>
            </connector>
            <label>Plaza Residencia Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza de residencia está relllena, ocupamos la plaza</description>
        <name>PlazaResidenciaVacio_0</name>
        <label>¿Plaza residencia está vacío?</label>
        <locationX>974</locationX>
        <locationY>1391</locationY>
        <defaultConnector>
            <targetReference>ActualizarCentroResidenciaCuentaResidente_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Fecha_de_salida_rellena_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FechaSalida__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarPlazaOcupadaFalse1</targetReference>
            </connector>
            <label>Fecha de salida rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Sábado está relllena, ocupamos la plaza</description>
        <name>PlazaSabadoVacia</name>
        <label>¿Plaza Sábado está vacío?</label>
        <locationX>1832</locationX>
        <locationY>3839</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaSabado_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaSabadoRellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaSabado__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza Sábado Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Sábado está relllena, ocupamos la plaza</description>
        <name>PlazaSabadoVacia_0_0</name>
        <label>¿Plaza Sábado está vacío?</label>
        <locationX>2624</locationX>
        <locationY>4055</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaSabado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaSabadoRellena_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaSabado__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza Sábado Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Viernes está relllena, ocupamos la plaza</description>
        <name>PlazaViernesVacia_0_0</name>
        <label>¿Plaza Viernes está vacío?</label>
        <locationX>1832</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaViernes_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaViernesRellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaViernes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza Viernes Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la plaza Viernes está relllena, ocupamos la plaza</description>
        <name>PlazaViernesVacia_0_0_0</name>
        <label>¿Plaza Viernes está vacío?</label>
        <locationX>2624</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>VaciadoPlazaViernes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PlazaViernesRellena_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PlazaViernes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Plaza Viernes Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Dependiendo del estado de la opp haremos una cosa u otra</description>
        <name>QueEstadoTieneOportunidad</name>
        <label>¿Qué estado tiene la oportunidad?</label>
        <locationX>3746</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>FechaSalidaRelleno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FechaSalida__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaResidencia</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Fecha de salida relleno</label>
        </rules>
        <rules>
            <name>EtapaEnProceso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En proceso</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CambiarPropietario</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Etapa En proceso</label>
        </rules>
        <rules>
            <name>EtapaListaEspera</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResidenciaDerivacion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lista de espera - Derivación - Traslado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Derivacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CambiarPropietario1</targetReference>
            </connector>
            <label>Etapa en Lista de espera</label>
        </rules>
        <rules>
            <name>EtapaCerradaExito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada - Éxito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VaciarDatosListaEspera</targetReference>
            </connector>
            <label>Etapa cerrada éxito</label>
        </rules>
        <rules>
            <name>EtapaPospuesta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pospuesto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarFechaCierreOpp</targetReference>
            </connector>
            <label>Etapa en Pospuesta</label>
        </rules>
        <rules>
            <name>EtapaReservaPlaza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reserva de plaza</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosOpp</targetReference>
            </connector>
            <label>Etapa en Reserva de plaza</label>
        </rules>
        <rules>
            <name>EtapaListaEsperaFecha</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lista de espera - Derivación - Traslado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizaFechaListaEspera_Oppt</targetReference>
            </connector>
            <label>Etapa lista de espera Fecha</label>
        </rules>
        <rules>
            <name>EtapaCerradaPerdida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada - Perdida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VaciarDatosListaEspera_0</targetReference>
            </connector>
            <label>Etapa Cerrada Perdida</label>
        </rules>
        <rules>
            <name>EtapaseguimientoLlamada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguimiento llamada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UrgenciaPercibida</targetReference>
            </connector>
            <label>Etapa seguimiento Llamada</label>
        </rules>
        <rules>
            <name>EtapaSeguimientoVisita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visita - Seguimiento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerPropietarioVisita</targetReference>
            </connector>
            <label>Etapa Visita - Seguimiento</label>
        </rules>
    </decisions>
    <decisions>
        <description>Urgencia percibida</description>
        <name>UrgenciaPercibida</name>
        <label>Urgencia percibida</label>
        <locationX>5396</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Alta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreadorOportunidad</targetReference>
            </connector>
            <label>Alta</label>
        </rules>
        <rules>
            <name>Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreadorOportunidad_0</targetReference>
            </connector>
            <label>Media</label>
        </rules>
        <rules>
            <name>Baja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreadorOportunidad_0_0</targetReference>
            </connector>
            <label>Baja</label>
        </rules>
    </decisions>
    <decisions>
        <description>Urgencia percibida</description>
        <name>UrgenciaPercibida_0</name>
        <label>Urgencia percibida</label>
        <locationX>6782</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Alta_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Alta</label>
        </rules>
        <rules>
            <name>Media_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Media</label>
        </rules>
        <rules>
            <name>Baja_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Baja</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Domingo para desocupar esa plaza</description>
        <name>VaciadoPlazaDomingo</name>
        <label>¿Se ha vaciado plaza Domingo?</label>
        <locationX>2822</locationX>
        <locationY>4727</locationY>
        <defaultConnector>
            <targetReference>ActualizarCentroResidenciaCuentaResidente_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaDomingo__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaDomingo__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaDomingo__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaDomingo1</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Domingo para desocupar esa plaza</description>
        <name>VaciadoPlazaDomingo_0</name>
        <label>¿Se ha vaciado plaza Domingo?</label>
        <locationX>2030</locationX>
        <locationY>4511</locationY>
        <defaultConnector>
            <targetReference>ActualizarCentroResidenciaCuentaResidente_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiD_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaDomingo__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaDomingo__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaDomingo__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaDomingo1_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Jueves para desocupar esa plaza</description>
        <name>VaciadoPlazaJueves</name>
        <label>¿Se ha vaciado plaza Jueves?</label>
        <locationX>2822</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>PlazaViernesVacia_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiJ</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaJueves__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaJueves__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaJueves__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaJueves2</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Jueves para desocupar esa plaza</description>
        <name>VaciadoPlazaJueves_0</name>
        <label>¿Se ha vaciado plaza Jueves?</label>
        <locationX>2030</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>PlazaViernesVacia_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiJ_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaJueves__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaJueves__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaJueves__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaJueves1</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Lunes para desocupar esa plaza</description>
        <name>VaciadoPlazaLunes</name>
        <label>¿Se ha vaciado plaza Lunes?</label>
        <locationX>2624</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>PlazaMartesVacia_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaLunes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaLunes__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaLunes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaLunes1</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Martes para desocupar esa plaza</description>
        <name>VaciadoPlazaMartes</name>
        <label>¿Se ha vaciado plaza Martes?</label>
        <locationX>2822</locationX>
        <locationY>1967</locationY>
        <defaultConnector>
            <targetReference>PlazaMiercolesVacia_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiMa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaMartes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaMartes__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaMartes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaMartes1</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Martes para desocupar esa plaza</description>
        <name>VaciadoPlazaMartes_0</name>
        <label>¿Se ha vaciado plaza Martes?</label>
        <locationX>2030</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>PlazaMiercolesVacia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiMa_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaMartes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaMartes__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaMartes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaMartes1_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Miercoles para desocupar esa plaza</description>
        <name>VaciadoPlazaMiercoles</name>
        <label>¿Se ha vaciado plaza Mirecoles?</label>
        <locationX>2822</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>PlazaJuevesVacia_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiMi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaMiercoles__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaMiercoles__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaMiercoles__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaMiercoles1</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Miercoles para desocupar esa plaza</description>
        <name>VaciadoPlazaMiercoles_0</name>
        <label>¿Se ha vaciado plaza Mirecoles?</label>
        <locationX>2030</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>PlazaJuevesVacia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiMi_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaMiercoles__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaMiercoles__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaMiercoles__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaMiercoles1_0_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Residencia para desocupar esa plaza</description>
        <name>VaciadoPlazaResidencia_0</name>
        <label>¿Se ha vaciado plaza residencia?</label>
        <locationX>1799</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>PlazaLunesVacia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiR_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Plaza__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plaza__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaResidencia1_0_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Sábado para desocupar esa plaza</description>
        <name>VaciadoPlazaSabado</name>
        <label>¿Se ha vaciado plaza Sábado?</label>
        <locationX>2822</locationX>
        <locationY>4175</locationY>
        <defaultConnector>
            <targetReference>PlazaDomingoVacia_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaSabado__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaSabado__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaSabado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaSabado1</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Sábado para desocupar esa plaza</description>
        <name>VaciadoPlazaSabado_0</name>
        <label>¿Se ha vaciado plaza Sábado?</label>
        <locationX>2030</locationX>
        <locationY>3959</locationY>
        <defaultConnector>
            <targetReference>PlazaDomingoVacia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiS_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaSabado__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaSabado__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaSabado__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaSabado1_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Viernes para desocupar esa plaza</description>
        <name>VaciadoPlazaViernes</name>
        <label>¿Se ha vaciado plaza Viernes?</label>
        <locationX>2822</locationX>
        <locationY>3623</locationY>
        <defaultConnector>
            <targetReference>PlazaSabadoVacia_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaViernes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaViernes__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaViernes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaViernes1</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha vaciado la plaza del Viernes para desocupar esa plaza</description>
        <name>VaciadoPlazaViernes_0</name>
        <label>¿Se ha vaciado plaza Viernes?</label>
        <locationX>2030</locationX>
        <locationY>3407</locationY>
        <defaultConnector>
            <targetReference>PlazaSabadoVacia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiV_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PlazaViernes__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaViernes__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PlazaViernes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesocupamosPlazaViernes1_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <description>Dependiendo de las etapas de la oportunidad se van actualizando los registros
--
V4: Actualización Centro/Residencia actual de la cuenta del residente en la etapa Cerrada - Éxito y mejora de eficiencia</description>
    <environments>Default</environments>
    <formulas>
        <name>FechaCierreHoy</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FechaCierreOpp</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+90</expression>
    </formulas>
    <formulas>
        <name>FechaHora</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>FechaVencimientoTarea</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+15</expression>
    </formulas>
    <formulas>
        <description>Fecha de hoy más 15 días</description>
        <name>HoyMasQuinceDias</name>
        <dataType>Date</dataType>
        <expression>NOW ()+15</expression>
    </formulas>
    <formulas>
        <name>HoyMasTreintaDias</name>
        <dataType>Date</dataType>
        <expression>NOW()+30</expression>
    </formulas>
    <formulas>
        <description>Fecha de hoy más un día</description>
        <name>HoyMasUnDia</name>
        <dataType>Date</dataType>
        <expression>NOW()+1</expression>
    </formulas>
    <interviewLabel>Actualizar la oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar la oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_tarea</name>
        <label>Crear tarea</label>
        <locationX>3350</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>FechaCierre</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FechaVencimientoTarea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ColaOppPospuestas</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistrTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Seguimiento  oportunidad pospuesta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0</name>
        <label>Crear Tarea</label>
        <locationX>4538</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistrTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>4802</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ColaTareasSeguimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistrTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>5066</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Media</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistrTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>5594</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Baja</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistrTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>6386</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerPropietarioVisita.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistrTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>5330</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ColaTareasSeguimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Media</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistrTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>5858</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ColaTareasSeguimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Baja</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistrTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>6650</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerPropietarioVisita.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistrTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>6914</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerPropietarioVisita.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistrTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obtenemos la última oppt cerrada y ganada del propietario de la cuenta actual</description>
        <name>ObtenerOpptCerradaGanada</name>
        <label>Obtener Oppt Cerrada Ganada</label>
        <locationX>1386</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PlazaResidenciaVacio</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrada - Éxito</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>FechaIngreso__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerPropietarioVisita</name>
        <label>ObtenerPropietarioVisita</label>
        <locationX>6782</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UrgenciaPercibida_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visita</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el tipo de registro de tarea</description>
        <name>ObtenerTipoRegistrTarea</name>
        <label>ObtenerTipoRegistrTarea</label>
        <locationX>3746</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QueEstadoTieneOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tarea</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Aplica la fecha actual a la Fecha lista de espera</description>
        <name>ActualizaFechaListaEspera_Oppt</name>
        <label>Actualiza Fecha Lista Espera Oppt</label>
        <locationX>4010</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FechaHoraListaeEspera__c</field>
            <value>
                <elementReference>FechaHora</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si se rellena Criterios de lista de espera automáticamente se pasa a lista de espera</description>
        <name>ActualizamosEtapaListaEspera</name>
        <label>Actualizamos Etapa Lista Espera</label>
        <locationX>3614</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>ObtenerTipoRegistrTarea</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Lista de espera - Derivación - Traslado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Se vacía el campo Plaza</description>
        <name>ActualizamosOportunidad</name>
        <label>Actualizamos la oportunidad</label>
        <locationX>842</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>ActualizarCentroResidenciaCuentaResidente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Plaza__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Cuando la opp cambie a la etapa Reserva de Plaza el campo Fecha y hora reserva de plaza se tiene que autocompletar con la fecha y la hora de ese momento</description>
        <name>ActualizamosOpp</name>
        <label>Actualizamos la Oportunidad</label>
        <locationX>3746</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FechaHoraReservaPlaza__c</field>
            <value>
                <elementReference>FechaHora</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>1832</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>PlazaMartesVacia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaLunes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>1634</locationX>
        <locationY>1751</locationY>
        <connector>
            <targetReference>PlazaMiercolesVacia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaMartes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>2426</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>PlazaMiercolesVacia_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaMartes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0_0_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>1634</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>PlazaJuevesVacia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaMiercoles__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0_0_0_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>2426</locationX>
        <locationY>2519</locationY>
        <connector>
            <targetReference>PlazaJuevesVacia_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaMiercoles__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0_0_0_0_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>1634</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>PlazaViernesVacia_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaJueves__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0_0_0_0_0_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>2426</locationX>
        <locationY>3071</locationY>
        <connector>
            <targetReference>PlazaViernesVacia_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaJueves__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>1634</locationX>
        <locationY>3407</locationY>
        <connector>
            <targetReference>PlazaSabadoVacia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaViernes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>1634</locationX>
        <locationY>3959</locationY>
        <connector>
            <targetReference>PlazaDomingoVacia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaSabado__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0_0_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>1634</locationX>
        <locationY>4511</locationY>
        <connector>
            <targetReference>ActualizarCentroResidenciaCuentaResidente_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaDomingo__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0_0_0_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>2426</locationX>
        <locationY>3623</locationY>
        <connector>
            <targetReference>PlazaSabadoVacia_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaViernes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>2426</locationX>
        <locationY>4727</locationY>
        <connector>
            <targetReference>ActualizarCentroResidenciaCuentaResidente_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaDomingo__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaCDOcupada_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>2426</locationX>
        <locationY>4175</locationY>
        <connector>
            <targetReference>PlazaDomingoVacia_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaSabado__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Plaza ocupada se pone a true si la plaza residencia y la fecha de ingreso están rellenas</description>
        <name>ActualizamosPlazaOcupada</name>
        <label>Actualizamos la plaza ocupada</label>
        <locationX>974</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>PlazaResidenciaVacio_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plaza__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Centro/Residencia cuenta residente</description>
        <name>ActualizarCentroResidenciaCuentaResidente</name>
        <label>Actualizar Centro/Residencia Cuenta Residente</label>
        <locationX>842</locationX>
        <locationY>1751</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CentroResidenciaActual__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Centro/Residencia cuenta residente</description>
        <name>ActualizarCentroResidenciaCuentaResidente_0</name>
        <label>Actualizar Centro/Residencia Cuenta Residente</label>
        <locationX>1106</locationX>
        <locationY>1511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CentroResidenciaActual__c</field>
            <value>
                <elementReference>ObtenerOpptCerradaGanada.ResidenciaIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Centro/Residencia cuenta residente</description>
        <name>ActualizarCentroResidenciaCuentaResidente_0_0</name>
        <label>Actualizar Centro/Residencia Cuenta Residente</label>
        <locationX>1370</locationX>
        <locationY>1511</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CentroResidenciaActual__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Centro/Residencia cuenta residente</description>
        <name>ActualizarCentroResidenciaCuentaResidente_0_0_0</name>
        <label>Actualizar Centro/Residencia Cuenta Residente</label>
        <locationX>1634</locationX>
        <locationY>4631</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CentroResidenciaActual__c</field>
            <value>
                <elementReference>ObtenerOpptCerradaGanada.ResidenciaIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Centro/Residencia cuenta residente</description>
        <name>ActualizarCentroResidenciaCuentaResidente_0_0_0_0</name>
        <label>Actualizar Centro/Residencia Cuenta Residente</label>
        <locationX>1898</locationX>
        <locationY>4751</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CentroResidenciaActual__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Centro/Residencia cuenta residente</description>
        <name>ActualizarCentroResidenciaCuentaResidente_0_0_0_0_0</name>
        <label>Actualizar Centro/Residencia Cuenta Residente</label>
        <locationX>2162</locationX>
        <locationY>4631</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CentroResidenciaActual__c</field>
            <value>
                <elementReference>ObtenerOpptCerradaGanada.ResidenciaIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Centro/Residencia cuenta residente</description>
        <name>ActualizarCentroResidenciaCuentaResidente_0_0_0_0_0_0</name>
        <label>Actualizar Centro/Residencia Cuenta Residente</label>
        <locationX>2426</locationX>
        <locationY>4847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CentroResidenciaActual__c</field>
            <value>
                <elementReference>ObtenerOpptCerradaGanada.ResidenciaIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Centro/Residencia cuenta residente</description>
        <name>ActualizarCentroResidenciaCuentaResidente_0_0_0_0_0_0_0</name>
        <label>Actualizar Centro/Residencia Cuenta Residente</label>
        <locationX>2690</locationX>
        <locationY>4967</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CentroResidenciaActual__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Centro/Residencia cuenta residente</description>
        <name>ActualizarCentroResidenciaCuentaResidente_0_0_0_0_0_0_0_0</name>
        <label>Actualizar Centro/Residencia Cuenta Residente</label>
        <locationX>2954</locationX>
        <locationY>4847</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CentroResidenciaActual__c</field>
            <value>
                <elementReference>ObtenerOpptCerradaGanada.ResidenciaIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Etapa= Cierre perdida
Motivo de Pérdida= Cierre automático/ Sin noticias.</description>
        <name>ActualizarEtapa</name>
        <label>Actualizar etapa</label>
        <locationX>3218</locationX>
        <locationY>1271</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MotivoPerdida__c</field>
            <value>
                <stringValue>Cierre automático/ Sin noticias</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cerrada - Perdida</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>La fecha de cierre de la Oportunidad se fijará con una valor de 3 meses desde la LastActivityDate.</description>
        <name>ActualizarFechaCierreOpp</name>
        <label>Actualizar fecha cierra Opp</label>
        <locationX>3350</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Crear_tarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>FechaCierreOpp</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si la fecha salida de la opp está vacía se actualizada la plaza ocupada a false</description>
        <name>ActualizarPlazaOcupadaFalse1</name>
        <label>Actualizar plaza ocupada</label>
        <locationX>842</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>ActualizamosOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plaza__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si la etapa está en proceso se cambia el propietario de la opp por el propietario de la residencia de preferencia</description>
        <name>CambiarPropietario</name>
        <label>Cambiar propietario</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>EnviarCorreo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ResidenciaPreferencia__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si la etapa de la opp está en Lista de espera, derivación es true y la residencia derivación está rellena se cambia el propietario de la oportunidad por el propietario de la residencia de derivación</description>
        <name>CambiarPropietario1</name>
        <label>Cambiar propietario</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FechaHoraListaeEspera__c</field>
            <value>
                <elementReference>FechaHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ResidenciaDerivacion__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si se rellena la fecha de salida, desmarcamos el check de Plaza ocupada</description>
        <name>DesocupamosPlazadomingo</name>
        <label>Desocupamos plaza domingo</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <connector>
            <targetReference>EliminamosPlazas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaDomingo__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaDomingo1</name>
        <label>Desocupamos plaza Domingo</label>
        <locationX>2690</locationX>
        <locationY>4847</locationY>
        <connector>
            <targetReference>ActualizarCentroResidenciaCuentaResidente_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaDomingo__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaDomingo1_0</name>
        <label>Desocupamos plaza Domingo</label>
        <locationX>1898</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>ActualizarCentroResidenciaCuentaResidente_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaDomingo__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si se rellena la fecha de salida, desmarcamos el check de Plaza ocupada</description>
        <name>DesocupamosPlazaJueves</name>
        <label>Desocupamos plaza jueves</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>DesocupamosPlazaviernes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaJueves__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaJueves1</name>
        <label>Desocupamos plaza Jueves</label>
        <locationX>1898</locationX>
        <locationY>2975</locationY>
        <connector>
            <targetReference>PlazaViernesVacia_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaJueves__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaJueves2</name>
        <label>Desocupamos plaza Jueves</label>
        <locationX>2690</locationX>
        <locationY>3191</locationY>
        <connector>
            <targetReference>PlazaViernesVacia_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaJueves__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si se rellena la fecha de salida, desmarcamos el check de Plaza ocupada</description>
        <name>DesocupamosPlazaLunes</name>
        <label>Desocupamos plaza lunes</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>DesocupamosPlazaMartes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaLunes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaLunes1</name>
        <label>Desocupamos plaza Lunes</label>
        <locationX>2492</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>PlazaMartesVacia_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaLunes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si se rellena la fecha de salida, desmarcamos el check de Plaza ocupada</description>
        <name>DesocupamosPlazaMartes</name>
        <label>Desocupamos plaza martes</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>DesocupamosPlazaMiercoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaMartes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaMartes1</name>
        <label>Desocupamos plaza Martes</label>
        <locationX>2690</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>PlazaMiercolesVacia_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaMartes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaMartes1_0</name>
        <label>Desocupamos plaza Martes</label>
        <locationX>1898</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>PlazaMiercolesVacia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaMartes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si se rellena la fecha de salida, desmarcamos el check de Plaza ocupada</description>
        <name>DesocupamosPlazaMiercoles</name>
        <label>Desocupamos plaza miércoles</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>DesocupamosPlazaJueves</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaMiercoles__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaMiercoles1</name>
        <label>Desocupamos plaza Miércoles</label>
        <locationX>2690</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>PlazaJuevesVacia_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaMiercoles__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaMiercoles1_0_0</name>
        <label>Desocupamos plaza Miércoles</label>
        <locationX>1898</locationX>
        <locationY>2423</locationY>
        <connector>
            <targetReference>PlazaJuevesVacia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaMiercoles__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si se rellena la fecha de salida, desmarcamos el check de Plaza ocupada</description>
        <name>DesocupamosPlazaResidencia</name>
        <label>Desocupamos plaza residencia</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>DesocupamosPlazaLunes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Plaza__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si se rellena la fecha de salida, desmarcamos el check de Plaza ocupada</description>
        <name>DesocupamosPlazaResidencia1_0_0</name>
        <label>Desocupamos plaza residencia</label>
        <locationX>1370</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>ActualizarCentroResidenciaCuentaResidente_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Plaza__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si se rellena la fecha de salida, desmarcamos el check de Plaza ocupada</description>
        <name>DesocupamosPlazaSabado</name>
        <label>Desocupamos plaza sábado</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>DesocupamosPlazadomingo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaSabado__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaSabado1</name>
        <label>Desocupamos plaza Sabado</label>
        <locationX>2690</locationX>
        <locationY>4295</locationY>
        <connector>
            <targetReference>PlazaDomingoVacia_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaSabado__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaSabado1_0</name>
        <label>Desocupamos plaza Sabado</label>
        <locationX>1898</locationX>
        <locationY>4079</locationY>
        <connector>
            <targetReference>PlazaDomingoVacia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaSabado__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si se rellena la fecha de salida, desmarcamos el check de Plaza ocupada</description>
        <name>DesocupamosPlazaviernes</name>
        <label>Desocupamos plaza viernes</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>DesocupamosPlazaSabado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PlazaViernes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaViernes1</name>
        <label>Desocupamos plaza Viernes</label>
        <locationX>2690</locationX>
        <locationY>3743</locationY>
        <connector>
            <targetReference>PlazaSabadoVacia_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaViernes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DesocupamosPlazaViernes1_0</name>
        <label>Desocupamos plaza Viernes</label>
        <locationX>1898</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>PlazaSabadoVacia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PlazaViernes__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaOcupada__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Plaza__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>EliminamosPlazas</name>
        <label>Eliminamos las plazas</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PlazaDomingo__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlazaJueves__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlazaLunes__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlazaMartes__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlazaMiercoles__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlazaSabado__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlazaViernes__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plaza__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Si una oportunidad está cerrada éxito tenemos que vaciar la fecha y criterios de lista de espera</description>
        <name>VaciarDatosListaEspera</name>
        <label>Vaciar Datos Lista Espera</label>
        <locationX>1386</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>ObtenerOpptCerradaGanada</targetReference>
        </connector>
        <inputAssignments>
            <field>CriterioPreferenciaListaEspera__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FechaHoraListaeEspera__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Si una oportunidad está cerrada éxito tenemos que vaciar la fecha y criterios de lista de espera</description>
        <name>VaciarDatosListaEspera_0</name>
        <label>Vaciar Datos Lista Espera</label>
        <locationX>4274</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>CriterioPreferenciaListaEspera__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FechaHoraListaeEspera__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3620</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EtapaListaEsperaAutomatica</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>El asunto del correo que se envía al equipo de opp</description>
        <name>AsuntoCorreo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Prueba&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Cuerpo del correo que se envía al equipo de opp</description>
        <name>CuepoCorreo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Probando&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>idRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlazaOcupada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PlazaResidenciaVacia</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
