force-app/main/default/flows/ActualizarBetaYMysteryClientOportunidades.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Activamos el check de Marketing Cloud</description>
        <name>ActivarMarketingCloudCheck</name>
        <label>Activar Marketing Cloud Check</label>
        <locationX>402</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ContactoAux.MarketingCloud__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Contacto_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos el ID del contacto por el que iteramos</description>
        <name>Asignar_Contacto_ID</name>
        <label>Asignar Contacto ID</label>
        <locationX>402</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>ContactoAux.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarContactos.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionContacto</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactoAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetContactoAux</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos el ID de la oportunidad por la que iteramos</description>
        <name>AsignarOportunidadID</name>
        <label>Asignar Oportunidad ID</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OportunidadAux.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarOpps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionOportunidad</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OportunidadAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetOppAux</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos los valores de los campos Beta y Mystery Client del contacto</description>
        <name>AsignarValoresContacto</name>
        <label>AsignarValoresContacto</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>ContactoAux.Beta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactoEntrada.Beta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactoAux.MysteryClient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactoEntrada.MysteryClient__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarContactos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos los valores de los campos Beta y Mystery Client del contacto</description>
        <name>AsignarValoresOpp</name>
        <label>AsignarValoresOpp</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OportunidadAux.Beta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactoEntrada.Beta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunidadAux.MysteryClient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactoEntrada.MysteryClient__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarOpps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Desactivamos el check de Marketing Cloud</description>
        <name>DesactivarMarketingCloudCheck</name>
        <label>Desactivar Marketing Cloud Check</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ContactoAux.MarketingCloud__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Contacto_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Mantenemos el check de Marketing Cloud</description>
        <name>MantenerMarketingCloudCheck</name>
        <label>Mantener Marketing Cloud Check</label>
        <locationX>666</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ContactoAux.MarketingCloud__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarContactos.MarketingCloud__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Contacto_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseteamos la variable ContactoAux</description>
        <name>ResetContactoAux</name>
        <label>ResetContactoAux</label>
        <locationX>402</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>ContactoAux.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IterarContactos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseteamos la variable OppAux</description>
        <name>ResetOppAux</name>
        <label>ResetOppAux</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OportunidadAux.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IterarOpps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Nodo de decisión para gestionar el check de Marketing Cloud de los familiares</description>
        <name>GestionCheckMarketingCloud</name>
        <label>Gestión Check Marketing Cloud</label>
        <locationX>402</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>MantenerMarketingCloudCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mantener valor</defaultConnectorLabel>
        <rules>
            <name>Desactivar</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>ContactoEntrada.Beta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactoEntrada.MysteryClient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterarContactos.MarketingCloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DesactivarMarketingCloudCheck</targetReference>
            </connector>
            <label>Desactivar</label>
        </rules>
        <rules>
            <name>Activar</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>ContactoEntrada.Beta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactoEntrada.MysteryClient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterarContactos.MarketingCloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterarContactos.et4ae5__HasOptedOutOfMobile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterarContactos.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IterarContactos.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>IterarContactos.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>IterarContactos.HasOptedOutOfEmail</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActivarMarketingCloudCheck</targetReference>
            </connector>
            <label>Activar</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si hay contactos en la cuenta</description>
        <name>HayContactos</name>
        <label>HayContactos</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>UpdateCuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Hay</defaultConnectorLabel>
        <rules>
            <name>Hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarValoresContacto</targetReference>
            </connector>
            <label>Hay</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si existen oportunidades en la cuenta</description>
        <name>HayOpps</name>
        <label>HayOpps</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>HayContactos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppsAbiertas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarValoresOpp</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo que actualiza los campos &quot;Beta&quot; y &quot;Mystery Client&quot; de las oportunidades relacionadas con el contacto, su cuenta y contactos
--
V3: Gestión Marketing Cloud Check</description>
    <environments>Default</environments>
    <interviewLabel>CONTACTO - Actualizar Beta y Mystery Client Oportunidades {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTACTO - Actualizar Beta y Mystery Client</label>
    <loops>
        <description>Iteramos por los contactos obtenidos</description>
        <name>IterarContactos</name>
        <label>IterarContactos</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <collectionReference>GetContactos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GestionCheckMarketingCloud</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContactos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Bucle para iterar por las oportunidades obtenidas</description>
        <name>IterarOpps</name>
        <label>IterarOpps</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>GetOppsAbiertas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarOportunidadID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos los contactos de la cuenta del contacto que entra por parámetro</description>
        <name>GetContactos</name>
        <label>GetContactos</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HayOpps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactoEntrada.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ContactoEntrada.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos las oportunidades abiertas de la cuenta del contacto</description>
        <name>GetOppsAbiertas</name>
        <label>GetOppsAbiertas</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactoEntrada.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada - Éxito</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada - Perdida</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Envío SAP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos los contactos de la cuenta</description>
        <name>UpdateContactos</name>
        <label>UpdateContactos</label>
        <locationX>50</locationX>
        <locationY>2090</locationY>
        <connector>
            <targetReference>UpdateCuenta</targetReference>
        </connector>
        <inputReference>ColeccionContacto</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos la cuenta del contacto</description>
        <name>UpdateCuenta</name>
        <label>UpdateCuenta</label>
        <locationX>182</locationX>
        <locationY>2282</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactoEntrada.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Beta__c</field>
            <value>
                <elementReference>ContactoEntrada.Beta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MysteryClient__c</field>
            <value>
                <elementReference>ContactoEntrada.MysteryClient__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos las oportunidades de la cuenta</description>
        <name>UpdateOpps</name>
        <label>UpdateOpps</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>HayContactos</targetReference>
        </connector>
        <inputReference>ColeccionOportunidad</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOppsAbiertas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo colección de contactos para almacenar los contactos a actualizar</description>
        <name>ColeccionContacto</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Variable de tipo colección de oportunidades para almacenar los registros actualizados</description>
        <name>ColeccionOportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable de tipo registro de contacto para almacenar la información del contacto pasado por parámetro</description>
        <name>ContactoAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Variable de tipo registro contacto que recibe el flujo</description>
        <name>ContactoEntrada</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Variable auxiliar de tipo registro de oportunidad para almacenar los valores actualizados</description>
        <name>OportunidadAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
