force-app/main/default/flows/ActualizarTipoRegistroOportunidadConvertida.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>Actualizar Tipo de Registro Oportunidad Convertida</description>
    <formulas>
        <description>Tipo de plaza</description>
        <name>TipoDePlaza</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!CandidatoConvertido.TipoPlaza__c} ,&apos;P&apos;), &apos;PlazaPrivada&apos;, &apos;PlazaPublica&apos;)</expression>
    </formulas>
    <interviewLabel>CANDIDATO - Actualizar Tipo de Registro Oportunidad Convertida {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CANDIDATO - Actualizar Tipo de Registro Oportunidad Convertida</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtener Tipo de Registro del Lead</description>
        <name>ObtenerTipoRegistroLead</name>
        <label>Obtener Tipo de Registro del Lead</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActualizarTipoRegistroOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>TipoDePlaza</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizarTipoRegistroOportunidad</name>
        <label>Actualizar Tipo de Registro Oportunidad</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidatoConvertido.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroLead.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtenerTipoRegistroLead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Candidato convertido</description>
        <name>CandidatoConvertido</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
