force-app/main/default/flows/ActualizarCentroResidenciaActual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Nodo de decisión para comprobar si se ha obtenido una oportunidad</description>
        <name>ComprobarOportunidadCerradaExito</name>
        <label>Comprobar Oportunidad Cerrada - Éxito</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No existe</defaultConnectorLabel>
        <rules>
            <name>EstaEnCentro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OportunidadUltimaFechaIngreso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunidadUltimaFechaIngreso.FechaSalida__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActualizacionCentroResidencia</targetReference>
            </connector>
            <label>Está en Centro</label>
        </rules>
        <rules>
            <name>NoEstaEnCentro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OportunidadUltimaFechaIngreso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunidadUltimaFechaIngreso.FechaSalida__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActualizaCentroResidencia</targetReference>
            </connector>
            <label>No está en Centro</label>
        </rules>
    </decisions>
    <description>Flujo para actualizar el campo Centro/Residencia Actual de la cuenta de la oportunidad que lo desencadena
--
V3: Comprobación obtención oportunidad y optimización proceso
--
V4: Inclusión casuística vaciar campo Centro/Residencia Actual
--
V5: Modificación nodo de decisión para contemplar si el residente se encuentra en un Centro</description>
    <environments>Default</environments>
    <interviewLabel>Actualizar Centro/Residencia actual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Actualizar Centro/Residencia Actual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos la oportunidad de tipo Cerrada - Éxito de la cuenta de la oportunidad con la fecha de ingreso más reciente</description>
        <name>OportunidadUltimaFechaIngreso</name>
        <label>Oportunidad Última Fecha de Ingreso</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ComprobarOportunidadCerradaExito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrada - Éxito</stringValue>
            </value>
        </filters>
        <filters>
            <field>FechaIngreso__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadCerradaExito.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>FechaIngreso__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos el Centro/Residencia actual de la cuenta del residente</description>
        <name>ActualizaCentroResidencia</name>
        <label>Actualización Centro/Residencia</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadCerradaExito.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CentroResidenciaActual__c</field>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos el Centro/Residencia actual de la cuenta del residente</description>
        <name>ActualizacionCentroResidencia</name>
        <label>Actualización Centro/Residencia</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadCerradaExito.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CentroResidenciaActual__c</field>
            <value>
                <elementReference>OportunidadUltimaFechaIngreso.ResidenciaIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OportunidadUltimaFechaIngreso</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo registro para almacenar la oportunidad Cerrada - Éxito que se actualiza</description>
        <name>OportunidadCerradaExito</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
