force-app/main/default/flows/CANDIDATOAfterCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Nodo de decisión para comprobar si está rellena el año de nacimiento del candidato</description>
        <name>AnioNacimiento</name>
        <label>Año Nacimiento</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>MarketingCloud</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Relleno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AnoNacimiento__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1900.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarEdad</targetReference>
            </connector>
            <label>Relleno</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para evaluar la condición de entrada y la posterior ejecución de subflujo(s)</description>
        <name>CuentaFamiliar</name>
        <label>Cuenta Familiar</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Edad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarCuentaFamiliar</targetReference>
            </connector>
            <label>Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si está rellena la edad del candidato</description>
        <name>Edad</name>
        <label>Edad</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>AnioNacimiento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Edad__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarAnioNacimiento</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si el candidato es apto para ser sincronizado con Marketing Cloud</description>
        <name>MarketingCloud</name>
        <label>Marketing Cloud</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>No apto</defaultConnectorLabel>
        <rules>
            <name>Apto</name>
            <conditionLogic>(1 OR 2 OR 8) AND 3 AND 4 AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MysteryClient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Descartado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.et4ae5__HasOptedOutOfMobile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ActivarEnMarketingCloud</targetReference>
            </connector>
            <label>Apto</label>
        </rules>
    </decisions>
    <description>Flujo padre para ejecutar subflujos post creación de un candidato
--
V2,V3: Funcionalidad calculo año de nacimiento incluida
--
V4: Optimización funcionalidad
--
V5: Funcionalidad Actualización Edad
--
V6: Funcionalidad Activar en Marketing Cloud
--
V7: Inclusión &quot;Móvil potencial/ residente&quot; en nodo de decisión para subflow Activar en Marketing Cloud</description>
    <environments>Default</environments>
    <interviewLabel>CANDIDATO - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CANDIDATO - After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CuentaFamiliar</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Flujo secundario que pasa por parámetro el candidato creado para marcar el check &quot;Marketing Cloud&quot;</description>
        <name>ActivarEnMarketingCloud</name>
        <label>Activar en Marketing Cloud</label>
        <locationX>50</locationX>
        <locationY>1331</locationY>
        <flowName>CANDIDATOActivarEnMarketingCloud</flowName>
        <inputAssignments>
            <name>CandidatoID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo para actualizar el año de nacimiento del candidato</description>
        <name>ActualizarAnioNacimiento</name>
        <label>Actualizar Año Nacimiento</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>AnioNacimiento</targetReference>
        </connector>
        <flowName>CANDIDATOActualizarAnioNacimiento</flowName>
        <inputAssignments>
            <name>CandidatoAux</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo para actualizar la cuenta familiar del candidato</description>
        <name>ActualizarCuentaFamiliar</name>
        <label>Actualizar Cuenta Familiar</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Edad</targetReference>
        </connector>
        <flowName>CANDIDATOActualizarNombreCuentaFamiliar</flowName>
        <inputAssignments>
            <name>CandidatoAux</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo para actualizar la edad del candidato</description>
        <name>ActualizarEdad</name>
        <label>Actualizar Edad</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>MarketingCloud</targetReference>
        </connector>
        <flowName>CANDIDATOActualizarEdad</flowName>
        <inputAssignments>
            <name>CandidatoAux</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
