force-app/main/default/flows/CandidatoDescartar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Acción para redireccionar el flow al registro creado de Demandante de Empleo</description>
        <name>RedireccionarADemandanteEmpleo</name>
        <label>Redireccionar a Demandante de Empleo</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>DemandanteEmpleo__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CrearDemandanteEmpleo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AsignarValoresDescartarDuplicado</name>
        <label>Asignar valores para descartar por duplicado</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.MotivoDescarte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Duplicado</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Descartado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarCandidato</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AsignarValoresDescartarImposibilidadContactar</name>
        <label>Asignar valores para descartar por imposibilidad de contactar</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recordId.MotivoDescarte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No brinda datos o son erróneos / Imposibilidad de contactar</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Descartado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarCandidato</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>PantallaInicial_DemandanteEmpleo</name>
        <choiceText>Demandante de empleo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demandante de empleo</stringValue>
        </value>
    </choices>
    <choices>
        <name>PantallaInicial_Duplicado</name>
        <choiceText>Duplicado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Duplicado</stringValue>
        </value>
    </choices>
    <choices>
        <name>PantallaInicial_ImposibilidadDeContactar</name>
        <choiceText>Imposibilidad de Contactar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Imposibilidad de Contactar</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decisi_n_1</name>
        <label>Decisión 1</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>DemandanteEmpleo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PantallaInicial_SeleccionDescarte</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PantallaInicial_DemandanteEmpleo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_DemandanteEmpleo</targetReference>
            </connector>
            <label>Demandante de Empleo</label>
        </rules>
        <rules>
            <name>ImposibilidaContactar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PantallaInicial_SeleccionDescarte</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PantallaInicial_ImposibilidadDeContactar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_ImposibildadContactar</targetReference>
            </connector>
            <label>Imposibilidad de Contactar</label>
        </rules>
        <rules>
            <name>Duplicado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PantallaInicial_Duplicado</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PantallaInicial_Duplicado</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_Duplicado</targetReference>
            </connector>
            <label>Duplicado</label>
        </rules>
    </decisions>
    <description>Flujo para descartar candidatos</description>
    <environments>Default</environments>
    <interviewLabel>Candidato - Descartar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Candidato - Descartar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CrearDemandanteEmpleo</name>
        <label>Crear Demandante de Empleo</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>EliminarCandidato_Delete</targetReference>
        </connector>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>recordId.CorreoElectronicoFamiliarAllegado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>recordId.ApellidosFamiliarAllegado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>recordId.ContactoFamiliarAllegado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origen__c</field>
            <value>
                <elementReference>recordId.DetalleOrigen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PhoneNumber__c</field>
            <value>
                <elementReference>recordId.TelefonoFamiliarAllegado__c</elementReference>
            </value>
        </inputAssignments>
        <object>DemandanteEmpleo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>EliminarCandidato_Delete</name>
        <label>Eliminar candidato</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>RedireccionarADemandanteEmpleo</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordDeletes>
    <recordUpdates>
        <name>ActualizarCandidato</name>
        <label>Actualizar Candidato</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Pantalla_DemandanteEmpleo</name>
        <label>Demandante de Empleo</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CrearDemandanteEmpleo</targetReference>
        </connector>
        <fields>
            <name>Pantalla_DemandanteEmpleo_Texto</name>
            <fieldText>&lt;p&gt;Este candidato se va a&amp;nbsp;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;eliminar&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;para crear un&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;demandante de empleo.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Si es un&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;error&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;por favor, cierre esta ventana y no le de a &quot;Crear demandante de empleo&quot;.&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Crear demandante de empleo</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_Duplicado</name>
        <label>Duplicado</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AsignarValoresDescartarDuplicado</targetReference>
        </connector>
        <fields>
            <name>Pantalla_Duplicado_Texto</name>
            <fieldText>&lt;p&gt;El candidato va a &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;descartarse &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;por &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 0, 255);&quot;&gt;duplicado&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿Por favor, si es incorrecto cierre esta ventana y no le de a &quot;Finalizar&quot;. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pantalla_ImposibildadContactar</name>
        <label>Imposibildad de Contactar</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AsignarValoresDescartarImposibilidadContactar</targetReference>
        </connector>
        <fields>
            <name>Pantalla_ImposibildadContactar_Texto</name>
            <fieldText>&lt;p&gt;El candidato va a &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;descartarse &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;por &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(102, 0, 255);&quot;&gt;imposibilidad de contactar&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿Por favor, si es incorrecto cierre esta ventana y no le de a &quot;Finalizar&quot;. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaInicial</name>
        <label>Pantalla Inicial</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decisi_n_1</targetReference>
        </connector>
        <fields>
            <name>PantallaInicial_Texto</name>
            <fieldText>&lt;p&gt;A continuación va a seleccionar el tipo de descarte del candidato, una vez se seleccione. Le llevará a una pantalla de confirmación.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Si no quiere realizar ningún descarte, por favor, cierre esta ventana.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PantallaInicial_SeleccionDescarte</name>
            <choiceReferences>PantallaInicial_DemandanteEmpleo</choiceReferences>
            <choiceReferences>PantallaInicial_ImposibilidadDeContactar</choiceReferences>
            <choiceReferences>PantallaInicial_Duplicado</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selección Descarte</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PantallaInicial</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
