force-app/main/default/flows/CargaCentroResidenciaActual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Añadimos la variable a la colección de cuentas a actualizar</description>
        <name>AnadirColeccionCuentas</name>
        <label>AñadirColecciónCuentas</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ColeccionCuentas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CuentaAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarOportunidades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos el valor Centro/Residencia actual del residente a una variable auxiliar de tipo cuenta</description>
        <name>CentroResidenciaActual</name>
        <label>CentroResidenciaActual</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>CuentaAux.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarOportunidades.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CuentaAux.CentroResidenciaActual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarOportunidades.ResidenciaIngreso__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnadirColeccionCuentas</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <description>Ordenamos las oportunidades por fecha de ingreso decreciente e ID de la cuenta</description>
        <name>OrdenarOportunidades</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Ordenar Oportunidades</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>OportunidadesCerradaExito</collectionReference>
        <connector>
            <targetReference>IterarOportunidades</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>AccountId</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>FechaIngreso__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>Nodo de decisión que comprueba si una cuenta de un residente ha actualizado su Centro/Residencia Actual</description>
        <name>ComprobarCentroResidenciaResidente</name>
        <label>Comprobar Centro/Residencia Residente</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>CentroResidenciaActual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Actualizado</defaultConnectorLabel>
        <rules>
            <name>Actualizado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CuentaAux.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>IterarOportunidades.AccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterarOportunidades</targetReference>
            </connector>
            <label>Actualizado</label>
        </rules>
    </decisions>
    <description>Flujo para obtener el valor Centro/Residencia Actual de los contactos de tipo Residente</description>
    <environments>Default</environments>
    <interviewLabel>Carga Centro/Residencia Actual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Carga Centro/Residencia Actual</label>
    <loops>
        <description>Bucle para iterar por las oportunidades</description>
        <name>IterarOportunidades</name>
        <label>Iterar Oportunidades</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>OportunidadesCerradaExito</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ComprobarCentroResidenciaResidente</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActualizacionCuentas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos las oportunidades de tipo cerrada a éxito y ordenadas por fecha de ingreso descendente</description>
        <name>OportunidadesCerradaExito</name>
        <label>Oportunidades Cerrada - Éxito</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OrdenarOportunidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cerrada - Éxito</stringValue>
            </value>
        </filters>
        <filters>
            <field>FechaIngreso__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos el Centro/Residencia actual de las cuentas de los residentes</description>
        <name>ActualizacionCuentas</name>
        <label>Actualización Cuentas</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <inputReference>ColeccionCuentas</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OportunidadesCerradaExito</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Variable de tipo colección de cuentas</description>
        <name>ColeccionCuentas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Variable de tipo registro de cuenta para almacenar la información</description>
        <name>CuentaAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
