force-app/main/default/flows/CitacionActualizarCalendario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Nodo de decisi贸n para saber si el usuario tiene el campo &quot;Departamento&quot; relleno</description>
        <name>UsuarioConDepartamento</name>
        <label>Usuario con Departamento</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Department</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCentro</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo para actualizar el campo &quot;Asignado a&quot; de Citaci贸n con el calendario del Centro al que corresponda</description>
    <environments>Default</environments>
    <interviewLabel>CITACION - Actualizar Asignado a {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CITACION - Actualizar Calendario</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos el calendario del centro al cual se ha asignado la citaci贸n</description>
        <name>GetCalendario</name>
        <label>GetCalendario</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ActualizarCitacion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCentro.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Calendar</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el centro el cual pertenece el usuario</description>
        <name>GetCentro</name>
        <label>GetCentro</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCalendario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CodigoCentroSAP__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Department</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Asignamos el calendario del centro correspondiente a la citaci贸n en el campo &quot;Asignado a&quot;</description>
        <name>ActualizarCitacion</name>
        <label>ActualizarCitacion</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetCalendario.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UsuarioConDepartamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123O000001tXYpQAM</stringValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
