force-app/main/default/flows/CONTACTOAfterCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Nodo de decisión para comprobar si se ha rellenado la edad del contacto</description>
        <name>Edad</name>
        <label>Edad</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>MarketingCloud</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Edad__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarAnioNacimiento</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si el contacto es apto para ser sincronizado con Marketing Cloud</description>
        <name>MarketingCloud</name>
        <label>Marketing Cloud</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>No Apto</defaultConnectorLabel>
        <rules>
            <name>Apto</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND (9 OR 10 OR 11) AND 12</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MarketingCloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Beta__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MysteryClient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HasOptedOutOfEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EstadoContacto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fallecido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EstadoContacto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Baja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaFallecimiento__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Prescriptor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.et4ae5__HasOptedOutOfMobile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActivarEnMarketingCloud</targetReference>
            </connector>
            <label>Apto</label>
        </rules>
    </decisions>
    <description>Flujo padre para ejecutar subflujos post creación de un contacto
--
V2: Optimización funcionalidad
--
V3: Funcionalidad Activar en Marketing Cloud</description>
    <environments>Default</environments>
    <interviewLabel>CONTACTO - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CONTACTO - After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Edad</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Flujo secundario que pasa por parámetro el contacto creado para marcar el check &quot;Marketing Cloud&quot;</description>
        <name>ActivarEnMarketingCloud</name>
        <label>Activar en Marketing Cloud</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <flowName>CONTACTOActivarEnMarketingCloud</flowName>
        <inputAssignments>
            <name>ContactoID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo calculo y actualización del año de nacimiento del contacto</description>
        <name>ActualizarAnioNacimiento</name>
        <label>Actualizar año de nacimiento</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>MarketingCloud</targetReference>
        </connector>
        <flowName>CONTACTOActualizarAnioNacimiento</flowName>
        <inputAssignments>
            <name>ContactoAux</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
