force-app/main/default/flows/CreacionTareaOportunidadCerrada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>Flujo para crear una tarea cuando una oportunidad perdida se cierre</description>
    <interviewLabel>Creaci贸n Tarea Oportunidad Cerrada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORT - creaci贸n de tarea oportunidad perdida</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creaci贸n de la tarea de la oportunidad cerrada</description>
        <name>CrearTareaCierreOportunidad</name>
        <label>Crear Tarea Cierre Oportunidad</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>OportunidadCerrada.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notas__c</field>
            <value>
                <elementReference>OportunidadCerrada.MotivoPerdida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OportunidadCerrada.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Oportunidad Perdida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Oportunidad Perdida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OportunidadCerrada.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactoResidente.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obtenci贸n del residente de la oportunidad</description>
        <name>ContactoResidente</name>
        <label>Contacto Residente</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CrearTareaCierreOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadCerrada.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.IdTipoRegistroContactoResidente</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactoResidente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo registro que almacena una oportunidad</description>
        <name>OportunidadCerrada</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
