force-app/main/default/flows/CreacionTareas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>FechaSalida</name>
        <label>Fecha Salida</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>FechaSalidaRellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OportunidadCerradaExito.FechaSalida__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTareaSalida</targetReference>
            </connector>
            <label>Fecha Salida Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoDeRegistro</name>
        <label>Tipo de Registro</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>FechaSalida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Traslado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OportunidadCerradaExito.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Traslado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTareaTraslado</targetReference>
            </connector>
            <label>Traslado</label>
        </rules>
        <rules>
            <name>PrivadaPublica</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OportunidadCerradaExito.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PlazaPublica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunidadCerradaExito.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PlazaPrivada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTareaIngreso</targetReference>
            </connector>
            <label>Privada o Pública</label>
        </rules>
    </decisions>
    <description>Se ha añadido el Producto de interés en las tareas de ingreso y traslado
------------------------------------------
Creación de múltiples tareas</description>
    <environments>Default</environments>
    <interviewLabel>Creación de tareas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creación de tareas de ingreso, salida y traslado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CrearTareaIngreso</name>
        <label>Crear Tarea Ingreso</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>FechaSalida</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>OportunidadCerradaExito.FechaIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notas__c</field>
            <value>
                <elementReference>OportunidadCerradaExito.ResidenciaIngreso__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OportunidadCerradaExito.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ingreso - {!OportunidadCerradaExito.ProductoInteres__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Ingreso</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OportunidadCerradaExito.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactoResidente.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CrearTareaSalida</name>
        <label>Crear Tarea Salida</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>OportunidadCerradaExito.FechaSalida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notas__c</field>
            <value>
                <elementReference>OportunidadCerradaExito.ResidenciaIngreso__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OportunidadCerradaExito.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Salida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Salida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OportunidadCerradaExito.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactoResidente.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CrearTareaTraslado</name>
        <label>Crear Tarea Traslado</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>FechaSalida</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>OportunidadCerradaExito.FechaIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notas__c</field>
            <value>
                <elementReference>OportunidadCerradaExito.ResidenciaIngreso__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OportunidadCerradaExito.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Traslado - {!OportunidadCerradaExito.ProductoInteres__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Traslado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OportunidadCerradaExito.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactoResidente.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>ContactoResidente</name>
        <label>Contacto Residente</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TipoDeRegistro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadCerradaExito.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.IdTipoRegistroContactoResidente</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ContactoResidente</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Oportunidad con la etapa cerrada éxito</description>
        <name>OportunidadCerradaExito</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
