force-app/main/default/flows/EmailEliminarPosteriorCierreOportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Nodo de decisión para saber si la fecha de creación del email es posterior a la fecha de cierre de la oportunidad</description>
        <name>EmailPosteriorAcierre</name>
        <label>Email posterior a cierre</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Posterior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>GetOportunidad.CloseDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EliminarEmail</targetReference>
            </connector>
            <label>Posterior</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para saber si el correo electrónico tiene una oportunidad asociada</description>
        <name>OportunidadAsociada</name>
        <label>Oportunidad asociada</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RelatedToId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOportunidad</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para saber si la oportunidad está cerrada a éxito</description>
        <name>OportunidadCerradaExito</name>
        <label>Oportunidad Cerrada Exito</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Abierta</defaultConnectorLabel>
        <rules>
            <name>Cerrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada - Éxito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailPosteriorAcierre</targetReference>
            </connector>
            <label>Cerrada</label>
        </rules>
    </decisions>
    <description>Flujo desencadenado por la creación de un registro de correo electrónico para que sea eliminado en el caso de crearse con fecha posterior al cierre de la oportunidad que tiene asociada
--
V2: Corrección de errores
--
V3: Corrección de errores</description>
    <environments>Default</environments>
    <interviewLabel>Email - Eliminar Posterior Cierre Oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email - Eliminar Posterior Cierre Oportunidad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Eliminamos el correo electronico</description>
        <name>EliminarEmail</name>
        <label>EliminarEmail</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Obtenemos la oportunidad relacionada</description>
        <name>GetOportunidad</name>
        <label>GetOportunidad</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OportunidadCerradaExito</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OportunidadAsociada</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
