force-app/main/default/flows/JBSystemFlow_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj14c7115907ee312ce645f2113a9551b4_FireJBTrigger</name>
        <label>SalesforceObj14c7115907ee312ce645f2113a9551b4_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja0d5909523d3b6282c57643c98d71102</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja0d5909523d3b6282c57643c98d71102</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj14c7115907ee312ce645f2113a9551b4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536002756</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;ContactoFamiliarAllegado__c&quot;,&quot;CorreoElectronicoFamiliarAllegado__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj3d32976495a77c6a324d8beef4395b1a_FireJBTrigger</name>
        <label>SalesforceObj3d32976495a77c6a324d8beef4395b1a_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj14c7115907ee312ce645f2113a9551b4</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj14c7115907ee312ce645f2113a9551b4</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj3d32976495a77c6a324d8beef4395b1a</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536002756</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;Comunidad__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;ContactoFamiliarAllegado__c&quot;,&quot;ApellidosFamiliarAllegado__c&quot;,&quot;CorreoElectronicoFamiliarAllegado__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObj593e920b152eda82c2502fba2b08ff22_FireJBTrigger</name>
        <label>SalesforceObj593e920b152eda82c2502fba2b08ff22_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja68d287a9fa1a4650e3b95c4e95da496</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja68d287a9fa1a4650e3b95c4e95da496</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj593e920b152eda82c2502fba2b08ff22</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536002756</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;ContactoFamiliarAllegado__c&quot;,&quot;CorreoElectronicoFamiliarAllegado__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja0d5909523d3b6282c57643c98d71102_FireJBTrigger</name>
        <label>SalesforceObja0d5909523d3b6282c57643c98d71102_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfc14be8e0f510c9eced76f4bd1e58538</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfc14be8e0f510c9eced76f4bd1e58538</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja0d5909523d3b6282c57643c98d71102</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536002756</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;Comunidad__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;ContactoFamiliarAllegado__c&quot;,&quot;CorreoElectronicoFamiliarAllegado__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObja68d287a9fa1a4650e3b95c4e95da496_FireJBTrigger</name>
        <label>SalesforceObja68d287a9fa1a4650e3b95c4e95da496_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3d32976495a77c6a324d8beef4395b1a</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3d32976495a77c6a324d8beef4395b1a</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObja68d287a9fa1a4650e3b95c4e95da496</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536002756</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;Comunidad__c&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;ContactoFamiliarAllegado__c&quot;,&quot;CorreoElectronicoFamiliarAllegado__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjfc14be8e0f510c9eced76f4bd1e58538_FireJBTrigger</name>
        <label>SalesforceObjfc14be8e0f510c9eced76f4bd1e58538_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;Id&quot;,&quot;relationshipName&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Lead&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjfc14be8e0f510c9eced76f4bd1e58538</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>536002756</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Lead:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;ContactoFamiliarAllegado__c&quot;,&quot;CorreoElectronicoFamiliarAllegado__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj14c7115907ee312ce645f2113a9551b4</name>
        <label>JB_Decision_Null_Check_SalesforceObj14c7115907ee312ce645f2113a9551b4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja0d5909523d3b6282c57643c98d71102</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj14c7115907ee312ce645f2113a9551b4_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj14c7115907ee312ce645f2113a9551b4_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj14c7115907ee312ce645f2113a9551b4_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj3d32976495a77c6a324d8beef4395b1a</name>
        <label>JB_Decision_Null_Check_SalesforceObj3d32976495a77c6a324d8beef4395b1a</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj14c7115907ee312ce645f2113a9551b4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj3d32976495a77c6a324d8beef4395b1a_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj3d32976495a77c6a324d8beef4395b1a_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj3d32976495a77c6a324d8beef4395b1a_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj593e920b152eda82c2502fba2b08ff22</name>
        <label>JB_Decision_Null_Check_SalesforceObj593e920b152eda82c2502fba2b08ff22</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja68d287a9fa1a4650e3b95c4e95da496</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj593e920b152eda82c2502fba2b08ff22_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj593e920b152eda82c2502fba2b08ff22_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj593e920b152eda82c2502fba2b08ff22_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja0d5909523d3b6282c57643c98d71102</name>
        <label>JB_Decision_Null_Check_SalesforceObja0d5909523d3b6282c57643c98d71102</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfc14be8e0f510c9eced76f4bd1e58538</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja0d5909523d3b6282c57643c98d71102_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja0d5909523d3b6282c57643c98d71102_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja0d5909523d3b6282c57643c98d71102_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObja68d287a9fa1a4650e3b95c4e95da496</name>
        <label>JB_Decision_Null_Check_SalesforceObja68d287a9fa1a4650e3b95c4e95da496</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3d32976495a77c6a324d8beef4395b1a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObja68d287a9fa1a4650e3b95c4e95da496_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObja68d287a9fa1a4650e3b95c4e95da496_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObja68d287a9fa1a4650e3b95c4e95da496_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjfc14be8e0f510c9eced76f4bd1e58538</name>
        <label>JB_Decision_Null_Check_SalesforceObjfc14be8e0f510c9eced76f4bd1e58538</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjfc14be8e0f510c9eced76f4bd1e58538_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjfc14be8e0f510c9eced76f4bd1e58538_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjfc14be8e0f510c9eced76f4bd1e58538_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj14c7115907ee312ce645f2113a9551b4_Decision</name>
        <label>JB_SalesforceObj14c7115907ee312ce645f2113a9551b4_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja0d5909523d3b6282c57643c98d71102</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj14c7115907ee312ce645f2113a9551b4</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.DetalleOrigen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landing Te llamamos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj14c7115907ee312ce645f2113a9551b4_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj14c7115907ee312ce645f2113a9551b4</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj3d32976495a77c6a324d8beef4395b1a_Decision</name>
        <label>JB_SalesforceObj3d32976495a77c6a324d8beef4395b1a_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj14c7115907ee312ce645f2113a9551b4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj3d32976495a77c6a324d8beef4395b1a</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.DetalleOrigen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landing Ayudas Temporales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj3d32976495a77c6a324d8beef4395b1a_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj3d32976495a77c6a324d8beef4395b1a</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj593e920b152eda82c2502fba2b08ff22_Decision</name>
        <label>JB_SalesforceObj593e920b152eda82c2502fba2b08ff22_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObja68d287a9fa1a4650e3b95c4e95da496</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj593e920b152eda82c2502fba2b08ff22</name>
            <conditionLogic>(1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>new_object.CorreoElectronicoFamiliarAllegado__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Null</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>new_object.DetalleOrigen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landing Financiación</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj593e920b152eda82c2502fba2b08ff22_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj593e920b152eda82c2502fba2b08ff22</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja0d5909523d3b6282c57643c98d71102_Decision</name>
        <label>JB_SalesforceObja0d5909523d3b6282c57643c98d71102_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjfc14be8e0f510c9eced76f4bd1e58538</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja0d5909523d3b6282c57643c98d71102</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.DetalleOrigen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landing Ayudas Dependencia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja0d5909523d3b6282c57643c98d71102_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja0d5909523d3b6282c57643c98d71102</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObja68d287a9fa1a4650e3b95c4e95da496_Decision</name>
        <label>JB_SalesforceObja68d287a9fa1a4650e3b95c4e95da496_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObj3d32976495a77c6a324d8beef4395b1a</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObja68d287a9fa1a4650e3b95c4e95da496</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.DetalleOrigen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landing Dossier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObja68d287a9fa1a4650e3b95c4e95da496_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObja68d287a9fa1a4650e3b95c4e95da496</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjfc14be8e0f510c9eced76f4bd1e58538_Decision</name>
        <label>JB_SalesforceObjfc14be8e0f510c9eced76f4bd1e58538_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjfc14be8e0f510c9eced76f4bd1e58538</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.DetalleOrigen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Landing Comparadora</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjfc14be8e0f510c9eced76f4bd1e58538_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjfc14be8e0f510c9eced76f4bd1e58538</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Lead</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj593e920b152eda82c2502fba2b08ff22</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
