force-app/main/default/flows/OPORTUNIDADDuplicarARetencion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Acción para redirigir la funcionalidad a la oportunidad creada</description>
        <name>RedireccionOportunidad</name>
        <label>RedireccionOportunidad</label>
        <locationX>336</locationX>
        <locationY>1706</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>oportunidadClonadaID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Acción para redirigir la funcionalidad a la oportunidad existente</description>
        <name>RegresaOportunidad</name>
        <label>RegresaOportunidad</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Acción para redirigir la funcionalidad a la oportunidad existente</description>
        <name>RegresarAOportunidad</name>
        <label>RegresarAOportunidad</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Acción para redirigir la funcionalidad a la oportunidad existente</description>
        <name>RegresarOportunidad</name>
        <label>RegresarOportunidad</label>
        <locationX>1282</locationX>
        <locationY>458</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>OpcionExito</name>
        <choiceText>Cerrada - Éxito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cerrada - Éxito</stringValue>
        </value>
    </choices>
    <choices>
        <name>OpcionPerdida</name>
        <choiceText>Cerrada - Perdida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cerrada - Perdida</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Nodo de decisión para comprobar si la etapa de la nueva oportunidad es cerrada a éxito</description>
        <name>EtapaNuevaOportunidad</name>
        <label>EtapaNuevaOportunidad</label>
        <locationX>336</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>UpdateEtapa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Perdida</defaultConnectorLabel>
        <rules>
            <name>Exito</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CampoEtapaOportunidad</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OpcionExito</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductoOportunidad</targetReference>
            </connector>
            <label>Exito</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar la etapa de la oportunidad</description>
        <name>EtapaOportunidad</name>
        <label>EtapaOportunidad</label>
        <locationX>1031</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>PantallaNoValida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Apta</defaultConnectorLabel>
        <rules>
            <name>Apta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetOportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada - Éxito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FechaSalida</targetReference>
            </connector>
            <label>Apta</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si la fecha de salida está rellena</description>
        <name>FechaSalida</name>
        <label>Fecha de Salida</label>
        <locationX>781</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>PantallaFechaSalidaNoRellena</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Rellena</defaultConnectorLabel>
        <rules>
            <name>Rellena</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetOportunidad.FechaSalida__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MotivoYDetalleIngresoRellenos</targetReference>
            </connector>
            <label>Rellena</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si se han obtenido productos de oportunidad</description>
        <name>HayOportunidad</name>
        <label>HayOportunidad</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>UpdateOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProductoOportunidad</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateProductoOportunidad</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para saber si los campos motivo de ingreso y detalle motivo de ingreso estan rellenos</description>
        <name>MotivoYDetalleIngresoRellenos</name>
        <label>MotivoYDetalleIngresoRellenos</label>
        <locationX>545</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>PantallaMotivosIngresoPendientes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rellenos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOportunidad.MotivoIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOportunidad.DetalleMotivoIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordType</targetReference>
            </connector>
            <label>Rellenos</label>
        </rules>
    </decisions>
    <description>Funcionalidad para crear una oportunidad de tipo retención en base a una oportunidad cerrada a éxito
--
V16: Corrección Fecha de salida
--
V17: Incluir producto de oportunidad si se crea cerrada a éxito
--
V18: Incluir Motivo de Ingreso y Detalle Motivo de Ingreso
--
V19: Incluir condición campos Motivo de Ingreso y Detalle Motivo de Ingreso rellenos</description>
    <environments>Default</environments>
    <formulas>
        <description>Calcula la fecha de cierre de la oportunidad en base a la fecha en la que se creó sumándole un año</description>
        <name>FechaCierreOportunidad</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <interviewLabel>OPORTUNIDAD - Duplicar a Retencion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORTUNIDAD - Duplicar a Retención</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creación de la oportunidad con la información obtenida</description>
        <name>CrearOportunidad</name>
        <label>CrearOportunidad</label>
        <locationX>336</locationX>
        <locationY>782</locationY>
        <assignRecordIdToReference>oportunidadClonadaID</assignRecordIdToReference>
        <connector>
            <targetReference>EtapaNuevaOportunidad</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOportunidad.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Beta__c</field>
            <value>
                <elementReference>GetOportunidad.Beta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>FechaCierreOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competidor__c</field>
            <value>
                <elementReference>GetOportunidad.Competidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comunidad__c</field>
            <value>
                <elementReference>GetOportunidad.Comunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DerivacionColaborador__c</field>
            <value>
                <elementReference>GetOportunidad.DerivacionColaborador__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>GetOportunidad.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetalleMotivoIngreso__c</field>
            <value>
                <elementReference>GetOportunidad.DetalleMotivoIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetalleOrigen__c</field>
            <value>
                <elementReference>GetOportunidad.DetalleOrigen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetallesMotivoPerdida__c</field>
            <value>
                <elementReference>DetallesMotivoPerdida</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EsperaPlazaPublica__c</field>
            <value>
                <elementReference>GetOportunidad.EsperaPlazaPublica__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FechaIngresoPlanificado__c</field>
            <value>
                <elementReference>GetOportunidad.FechaIngresoPlanificado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FechaIngreso__c</field>
            <value>
                <elementReference>GetOportunidad.FechaIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FechaSalida__c</field>
            <value>
                <elementReference>GetOportunidad.FechaSalida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>GetOportunidad.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoIngreso__c</field>
            <value>
                <elementReference>GetOportunidad.MotivoIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoPerdida__c</field>
            <value>
                <elementReference>TipoYMotivoPerdida.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MysteryClient__c</field>
            <value>
                <elementReference>GetOportunidad.MysteryClient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenConocimiento__c</field>
            <value>
                <elementReference>GetOportunidad.OrigenConocimiento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Plaza__c</field>
            <value>
                <elementReference>GetOportunidad.Plaza__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prescriptor__c</field>
            <value>
                <elementReference>GetOportunidad.Prescriptor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductoInteres__c</field>
            <value>
                <elementReference>GetOportunidad.ProductoInteres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>Promocion.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recaptacion__c</field>
            <value>
                <elementReference>GetOportunidad.Recaptacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidenciaIngreso__c</field>
            <value>
                <elementReference>GetOportunidad.ResidenciaIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidenciaPreferencia__c</field>
            <value>
                <elementReference>GetOportunidad.ResidenciaPreferencia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidenciasInteres__c</field>
            <value>
                <elementReference>GetOportunidad.ResidenciasInteres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Nueva Contactado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoPerdida__c</field>
            <value>
                <elementReference>TipoYMotivoPerdida.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoPlaza__c</field>
            <value>
                <elementReference>GetOportunidad.TipoPlaza__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traslado__c</field>
            <value>
                <elementReference>GetOportunidad.Traslado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UrgenciaPercibida__c</field>
            <value>
                <elementReference>GetOportunidad.UrgenciaPercibida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zona__c</field>
            <value>
                <elementReference>GetOportunidad.Zona__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Creamos el producto de oportunidad asociado a la oportunidad previa</description>
        <name>CreateProductoOportunidad</name>
        <label>CreateProductoOportunidad</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>UpdateOportunidad</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>GetProductoOportunidad.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>oportunidadClonadaID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>GetProductoOportunidad.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>GetProductoOportunidad.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>GetProductoOportunidad.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>GetProductoOportunidad.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obtenemos la oportunidad donde se ejecuta el flujo</description>
        <name>GetOportunidad</name>
        <label>GetOportunidad</label>
        <locationX>1031</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EtapaOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos los productos de la oportunidad previa</description>
        <name>GetProductoOportunidad</name>
        <label>GetProductoOportunidad</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HayOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el tipo de registro de oportunidad Retención</description>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PantallaClonarOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retención</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos la etapa de la oportunidad a cerrada-perdida</description>
        <name>UpdateEtapa</name>
        <label>UpdateEtapa</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>PantallaFinProceso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oportunidadClonadaID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cerrada - Perdida</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos la fecha de salida de la nueva oportunidad y la marcamos como vacia y marcamos la etapa a cerrada - éxito</description>
        <name>UpdateOportunidad</name>
        <label>UpdateOportunidad</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>PantallaFinProceso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oportunidadClonadaID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FechaSalida__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cerrada - Éxito</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Pantalla que muestra información para clonar una oportunidad</description>
        <name>PantallaClonarOportunidad</name>
        <label>PantallaClonarOportunidad</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CrearOportunidad</targetReference>
        </connector>
        <fields>
            <name>InformacionOportunidad</name>
            <fieldText>Información de la oportunidad</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InformacionOportunidad_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CampoEtapaOportunidad</name>
                    <choiceReferences>OpcionExito</choiceReferences>
                    <choiceReferences>OpcionPerdida</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Etapa</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InformacionOportunidad_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Promocion</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Promoción</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Promocion__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>PantallaClonarOportunidad_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PantallaClonarOportunidad_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TipoYMotivoPerdida</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>TipoPerdida__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>MotivoPerdida__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Tipo de Pérdida</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Motivo de pérdida</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CampoEtapaOportunidad</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>OpcionPerdida</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PantallaClonarOportunidad_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DetallesMotivoPerdida</name>
                    <fieldText>Detalles motivo pérdida</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>CampoEtapaOportunidad</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>OpcionPerdida</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar un mensaje de que se necesita que la oportunidad tenga la fecha de salida rellena para poder realizar el proceso.</description>
        <name>PantallaFechaSalidaNoRellena</name>
        <label>PantallaFechaSalidaNoRellena</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RegresaOportunidad</targetReference>
        </connector>
        <fields>
            <name>avisoFechaSalidaOportunidad</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(234, 49, 49);&quot;&gt;Aviso: Fecha de salida de la oportunidad no cumplimentada&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La fecha de salida de la oportunidad debe estar rellena para crear una oportunidad de retención.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar un mensaje de finalización del proceso</description>
        <name>PantallaFinProceso</name>
        <label>PantallaFinProceso</label>
        <locationX>336</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedireccionOportunidad</targetReference>
        </connector>
        <fields>
            <name>finProceso</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;El proceso de creación de oportunidad de retención ha finalizado &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;correctamente&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Pulse el botón &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Siguiente&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; para ser redirigido a la oportunidad creada.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar un mensaje de que se necesita que la oportunidad tenga rellenos los campos Motivo de Ingreso y Detalle Motivo de Ingreso</description>
        <name>PantallaMotivosIngresoPendientes</name>
        <label>PantallaMotivosIngresoPendientes</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RegresarAOportunidad</targetReference>
        </connector>
        <fields>
            <name>avisoMotivoYDetalleIngreso</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 49, 49); font-size: 18px;&quot;&gt;Aviso: Motivo de Ingreso y Detalle Motivo de Ingreso no rellenos&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Los campos &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Motivo de Ingreso&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; y &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Detalle Motivo Ingreso&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; deben estar rellenos &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;para crear una oportunidad de retención.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar un mensaje de que se necesita que la oportunidad esté en la etapa &quot;Nuevo contactado&quot;, &quot;Seguimiento llamada&quot; o &quot;Visita - Seguimiento&quot; para poder realizar el proceso.</description>
        <name>PantallaNoValida</name>
        <label>PantallaEtapaNoValida</label>
        <locationX>1282</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RegresarOportunidad</targetReference>
        </connector>
        <fields>
            <name>avisoEtapaOportunidad</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 49, 49); font-size: 18px;&quot;&gt;Aviso: Etapa de la oportunidad no válida&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La etapa de la oportunidad debe ser &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Cerrada - Éxito&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; para crear una oportunidad de retención.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>905</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo texto para almacenar el ID de la oportunidad clonada</description>
        <name>oportunidadClonadaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para almacenar el ID de la oportunidad de origen</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
