force-app/main/default/flows/OPORTUNIDADAfterCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Nodo de decisión para comprobar si la oportunidad creada proviene de una clonación y tiene relleno campos que no pueden ser duplicados.</description>
        <name>CamposClonacion</name>
        <label>Campos Clonación</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Rellenos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TipoPerdida__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MotivoPerdida__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaSalida__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IdExternoSAP__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MessageSAPResponse__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CodeSAPResponse__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>BorrarCamposClonacionEstandar</targetReference>
            </connector>
            <label>Rellenos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para actualizar el nombre de la oportunidad que se crea por defecto</description>
        <name>NombreEstandar</name>
        <label>Nombre Estándar</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CamposClonacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarNombre</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo padre para ejecutar subflujos post creación de una oportunidad
--
V2: Inclusión automatismo borrado campos clonación</description>
    <environments>Default</environments>
    <interviewLabel>OPORTUNIDAD - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORTUNIDAD - After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>NombreEstandar</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Subflujo para actualizar el nombre de la oportunidad</description>
        <name>ActualizarNombre</name>
        <label>Actualizar Nombre</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>CamposClonacion</targetReference>
        </connector>
        <flowName>OPORTUNIDAD_Actualizar_Nombre</flowName>
        <inputAssignments>
            <name>OportunidadActualizada</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Flujo de borrado de campos que se rellenan mediante la clonación estándar de una oportunidad</description>
        <name>BorrarCamposClonacionEstandar</name>
        <label>Borrar Campos Clonación Estándar</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <flowName>OPORTUNIDADBorrarCamposClonacionEstandar</flowName>
        <inputAssignments>
            <name>OportunidadAux</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
