force-app/main/default/flows/OPORTUNIDAD_CumplimentarInformacionRetencion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Actualización de la variable booleana al encontrar la oportunidad cerrada a exito</description>
        <name>ActualizarOportunidadCerradaExitoEncontrada</name>
        <label>Actualizar Oportunidad Cerrada Exito Encontrada</label>
        <locationX>270</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>OportunidadEncontradaAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BucleOportunidadesDeLaCuenta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignación para almacenar los datos de la oportunidad cerrada a éxito</description>
        <name>AlmacenarOportunidadCerradaExito</name>
        <label>Almacenar Oportunidad Cerrada Éxito</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.CriterioPreferenciaListaEspera__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.CriterioPreferenciaListaEspera__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Derivacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.Derivacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DetalleOrigen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.DetalleOrigen__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FechaHoraReservaPlaza__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.FechaHoraReservaPlaza__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FechaIngresoPlanificado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.FechaIngresoPlanificado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FechaIngreso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.FechaIngreso__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.FechaSalida__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.FechaSalida__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fianza__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.Fianza__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PagoReserva__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.PagoReserva__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PerfilPotencialResidente__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.PerfilPotencialResidente__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PlazaDomingo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.PlazaDomingo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PlazaSabado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.PlazaSabado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PlazaViernes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.PlazaViernes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PlazaJueves__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.PlazaJueves__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PlazaMiercoles__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.PlazaMiercoles__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PlazaMartes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.PlazaMartes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.PlazaLunes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.PlazaLunes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Plaza__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.Plaza__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Prescriptor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.Prescriptor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ResidenciaDerivacion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.ResidenciaDerivacion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ResidenciaIngreso__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.ResidenciaIngreso__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Transporte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.Transporte__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Beta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.Beta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MysteryClient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BucleOportunidadesDeLaCuenta.MysteryClient__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualizarOportunidadCerradaExitoEncontrada</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Nodo de decisión para comprobar si existe una oportunidad en la cuenta que sea de tipo cerrada éxito</description>
        <name>ComprobarOportunidadCerradaExito</name>
        <label>Comprobar oportunidad cerrada éxito</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>BucleOportunidadesDeLaCuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>OportunidadCerradaExito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BucleOportunidadesDeLaCuenta.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada - Éxito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunidadEncontradaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlmacenarOportunidadCerradaExito</targetReference>
            </connector>
            <label>Oportunidad Cerrada Éxito</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si se encontró oportunidad cerrada a éxito</description>
        <name>ComprobarOportunidadCerradaExitoExistente</name>
        <label>Comprobar Oportunidad Cerrada Éxito Existente</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>OportunidadNoExistente</defaultConnectorLabel>
        <rules>
            <name>OportunidadExistente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OportunidadEncontradaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizacionOportunidad</targetReference>
            </connector>
            <label>OportunidadExistente</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar que la oportunidad actual es de tipo retención.</description>
        <name>OportunidadTipoRetencion</name>
        <label>Oportunidad Tipo Retención</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>NoEsOportunidadRetencion</defaultConnectorLabel>
        <rules>
            <name>EsOportunidadRetencion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retencion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerOportunidadesCuenta</targetReference>
            </connector>
            <label>EsOportunidadRetención</label>
        </rules>
    </decisions>
    <description>Flujo para que al crear una oportunidad de tipo retención se cumplimente ciertos campos de la oportunidad cerrada a éxito previamente.
--
Actualización campos Beta y Mystery</description>
    <environments>Default</environments>
    <interviewLabel>OPORTUNIDAD - CumplimentarInformacionRetencion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORTUNIDAD - Cumplimentar Informacion Retención</label>
    <loops>
        <description>Iteramos por las oportunidades de la cuenta</description>
        <name>BucleOportunidadesDeLaCuenta</name>
        <label>Bucle oportunidades cuenta</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>ObtenerOportunidadesCuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ComprobarOportunidadCerradaExito</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ComprobarOportunidadCerradaExitoExistente</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos oportunidadess de la cuenta</description>
        <name>ObtenerOportunidadesCuenta</name>
        <label>Obtener oportunidades de la cuenta</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BucleOportunidadesDeLaCuenta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos los campos de la oportunidad de tipo retención con los valores de la oportunidad cerrada a éxito</description>
        <name>ActualizacionOportunidad</name>
        <label>Actualización Oportunidad</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OportunidadTipoRetencion</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Variable de tipo bool que se activa cuando se encuentra una oportunidad de tipo cerrada éxito de la cuenta.</description>
        <name>OportunidadEncontradaAux</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
