force-app/main/default/flows/OportunidadTransferirActividad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Redirección a la oportunidad a la que se ha transferido la actividad</description>
        <name>RedirigirOportunidad</name>
        <label>RedirigirOportunidad</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>OportunidadDestino</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Agregamos la variable auxiliar de tarea email</description>
        <name>AgregarEmail</name>
        <label>AgregarEmail</label>
        <locationX>138</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>ColeccionTareaEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TareaEmailAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VaciarEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignación para almacenar la información del email en una tarea</description>
        <name>CopiarEmail</name>
        <label>CopiarEmail</label>
        <locationX>138</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>TareaEmailAux.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarEmails.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.IsReminderSet</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarEmails.MessageDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.CreatedDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarEmails.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OportunidadDestino</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarEmails.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.Notas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarEmails.ToAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarEmails.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AgregarEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignación para eliminar la información del email en una tarea</description>
        <name>VaciarEmail</name>
        <label>VaciarEmail</label>
        <locationX>138</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>TareaEmailAux.Subject</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.ActivityDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.CreatedDate</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.Description</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.Notas__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaEmailAux.CreatedById</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IterarEmails</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Nodo de decisión para comprobar si existe actividad en la oportunidad</description>
        <name>ExisteActividad</name>
        <label>ExisteActividad</label>
        <locationX>336</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>NoExisteActividad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetEventos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetTareas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOportunidad</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si existen emails</description>
        <name>ExistenEmails</name>
        <label>ExistenEmails</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>EliminarOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HayEmails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEmails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterarEmails</targetReference>
            </connector>
            <label>Hay Emails</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si existen eventos</description>
        <name>ExistenEventos</name>
        <label>ExistenEventos</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>ExistenEmails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HayEventos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEventos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarEventos</targetReference>
            </connector>
            <label>Hay Eventos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si hay tareas en la oportunidad</description>
        <name>ExistenTareas</name>
        <label>ExistenTareas</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>ExistenEventos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HayTareas</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTareas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarTareas</targetReference>
            </connector>
            <label>Hay Tareas</label>
        </rules>
    </decisions>
    <description>Flujo de tipo pantalla para transferir la actividad de una oportunidad a otra y eliminar la oportunidad de origen
--
V2: Sustitución Choice Lookup (Beta)
--
V3: Corrección texto final</description>
    <dynamicChoiceSets>
        <description>Oportunidades de la misma cuenta que la oportunidad de origen</description>
        <name>OportunidadesCandidatas</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOportunidad.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada - Perdida</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Transferir Actividad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transferir Actividad</label>
    <loops>
        <description>Iteramos por los emails existentes</description>
        <name>IterarEmails</name>
        <label>IterarEmails</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <collectionReference>GetEmails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CopiarEmail</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CrearEmails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creamos los emails como tareas</description>
        <name>CrearEmails</name>
        <label>CrearEmails</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>EliminarEmails</targetReference>
        </connector>
        <inputReference>ColeccionTareaEmails</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Eliminamos los emails de la oportunidad</description>
        <name>EliminarEmails</name>
        <label>EliminarEmails</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>EliminarOportunidad</targetReference>
        </connector>
        <inputReference>GetEmails</inputReference>
    </recordDeletes>
    <recordDeletes>
        <description>Eliminamos la oportunidad actual</description>
        <name>EliminarOportunidad</name>
        <label>EliminarOportunidad</label>
        <locationX>182</locationX>
        <locationY>2582</locationY>
        <connector>
            <targetReference>ActividadTransferida</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordDeletes>
    <recordLookups>
        <description>Obtenemos los posibles emails de la oportunidad que se ejecuta en el flujo</description>
        <name>GetEmails</name>
        <label>GetEmails</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteActividad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedToId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos los posibles eventos de la oportunidad que se ejecuta el flujo</description>
        <name>GetEventos</name>
        <label>GetEventos</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos la oportunidad actual</description>
        <name>GetOportunidad</name>
        <label>GetOportunidad</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ElegirOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos las posibles tareas de la oportunidad que se ejecuta el flujo</description>
        <name>GetTareas</name>
        <label>GetTareas</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEventos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos el WhatId de los eventos</description>
        <name>ActualizarEventos</name>
        <label>ActualizarEventos</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>ExistenEmails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OportunidadDestino</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos el WhatId de las tareas</description>
        <name>ActualizarTareas</name>
        <label>ActualizarTareas</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>ExistenEventos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>OportunidadDestino</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <description>Actividad transferida</description>
        <name>ActividadTransferida</name>
        <label>Actividad transferida</label>
        <locationX>182</locationX>
        <locationY>2702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirigirOportunidad</targetReference>
        </connector>
        <fields>
            <name>MensajeActividadTransferida</name>
            <fieldText>&lt;p&gt;La actividad ha sido transferida correctamente, pulse el botón &quot;Siguiente&quot; para completar el proceso y ser redirigida a la oportunidad de destino.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Elegir oportunidad para transferir actividad</description>
        <name>ElegirOportunidad</name>
        <label>Elegir Oportunidad</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>ExistenTareas</targetReference>
        </connector>
        <fields>
            <name>MensajeTransferirActividad</name>
            <fieldText>&lt;p&gt;Elija la oportunidad a la que se va a transferir la actividad. La oportunidad debe ser de la misma cuenta y que su etapa no sea &quot;Cerrada-Perdida&quot;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Importante&lt;/strong&gt;: Una vez iniciado el proceso se realizará la transferencia de la actividad y posteriormente el borrado de esta oportunidad.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;No se puede deshacer esta operación.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OportunidadDestino</name>
            <choiceReferences>OportunidadesCandidatas</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Oportunidad de destino</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>No existe actividad</description>
        <name>NoExisteActividad</name>
        <label>No existe Actividad</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoHayActividad</name>
            <fieldText>&lt;p&gt;No hay actividad en esta oportunidad, por tanto no se puede transferir.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTareas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo colección de registros tarea para almacenar los emails a crear</description>
        <name>ColeccionTareaEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Variable de tipo texto para almacenar el ID actual de la oportunidad</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>recordId</stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable de tipo registro para almacenar la informacón del email</description>
        <name>TareaEmailAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
