force-app/main/default/flows/OPORTUNIDADCerrarOportunidadesAbiertasAPerdidas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>asignamos los valores a la oportunidad abierta</description>
        <name>asignaValoresCerradaPerdida</name>
        <label>asignaValoresCerradaPerdida</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>oportunidadAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>iterarOportunidades</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oportunidadAux.MotivoPerdida__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oportunidadCerradaPerdida.MotivoPerdida__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oportunidadAux.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cerrada - Perdida</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oportunidadAux.TipoPerdida__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oportunidadCerradaPerdida.TipoPerdida__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>coleccionOportunidadesAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oportunidadAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterarOportunidades</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Nodo de decisión para comprobar si existen oportunidades abiertas en la cuenta de la oportunidad &quot;Cerrada - Perdida&quot;</description>
        <name>oportunidadesAbiertas</name>
        <label>oportunidadesAbiertas</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOportunidadesAbiertas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iterarOportunidades</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo para cerrar las oportunidades abiertas de una cuenta a &quot;Cerrada - Perdida&quot; cuando se cierra una oportunidad como &quot;Cerrada - Perdida&quot;
--
V2: Corrección erratas
--
V3: Campo &quot;Tipo de pérdida&quot; añadido</description>
    <environments>Default</environments>
    <interviewLabel>OPORTUNIDAD - Cerrar Oportunidades Abiertas a Perdidas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORTUNIDAD - Cerrar Oportunidades Abiertas a Perdidas</label>
    <loops>
        <description>Iteramos las oportunidades abiertas</description>
        <name>iterarOportunidades</name>
        <label>iterarOportunidades</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>getOportunidadesAbiertas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>asignaValoresCerradaPerdida</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>actualizarOportunidades</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos las oportunidades abiertas de la cuenta de la oportunidad &quot;Cerrada - Perdida&quot;</description>
        <name>getOportunidadesAbiertas</name>
        <label>getOportunidadesAbiertas</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>oportunidadesAbiertas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oportunidadCerradaPerdida.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>oportunidadCerradaPerdida.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada - Perdida</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada - Éxito</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Envío SAP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos las oportunidades</description>
        <name>actualizarOportunidades</name>
        <label>actualizarOportunidades</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <inputReference>coleccionOportunidadesAux</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOportunidadesAbiertas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>variable de tipo registro para almacenar las oportunidades a actualizar</description>
        <name>coleccionOportunidadesAux</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable de tipo registro para almacenar la información de las oportunidades abiertas</description>
        <name>oportunidadAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable de tipo registro para almacenar la oportunidad &quot;Cerrada - Perdida&quot;</description>
        <name>oportunidadCerradaPerdida</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
