force-app/main/default/flows/OPORTUNIDADClonarConActividad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Acción para redirigir la funcionalidad a la oportunidad creada</description>
        <name>RedireccionOportunidad</name>
        <label>RedireccionOportunidad</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>oportunidadClonadaID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Acción para redirigir la funcionalidad a la oportunidad existente</description>
        <name>RedirigirOportunidad</name>
        <label>RedirigirOportunidad</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Acción para redirigir la funcionalidad a la oportunidad existente</description>
        <name>RegresarAOportunidad</name>
        <label>RegresarAOportunidad</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Acción para redirigir la funcionalidad a la oportunidad existente</description>
        <name>RegresarOportunidad</name>
        <label>RegresarOportunidad</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Asignación de la información del evento origen en la variable auxiliar</description>
        <name>DuplicarInformacionEvento</name>
        <label>DuplicarInformacionEvento</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>EventoAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPrimerEvento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventoAux.Duplicada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventoAux.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oportunidadClonadaID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CrearEventoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignación de la información de la tarea origen en la variable auxiliar</description>
        <name>DuplicarInformacionTarea</name>
        <label>DuplicarInformacionTarea</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>TareaAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPrimeraTarea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaAux.Duplicada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaAux.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oportunidadClonadaID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CrearTareaDuplicada</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignación de la información del evento origen en la variable auxiliar</description>
        <name>DuplicateInformacionEvento</name>
        <label>DuplicateInformacionEvento</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>EventoAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPrimerEvento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventoAux.Duplicada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventoAux.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oportunidadClonadaID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateEventoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignación de la información de la tarea origen en la variable auxiliar</description>
        <name>DuplicateInformacionTarea</name>
        <label>DuplicateInformacionTarea</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>TareaAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPrimeraTarea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaAux.Duplicada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaAux.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oportunidadClonadaID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTareaDuplicada</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Nodo de decisión para comprobar si los campos de ingreso están rellenos si la oportunidad es de tipo privada o de retención</description>
        <name>CamposIngresoRellenos</name>
        <label>CamposIngresoRellenos</label>
        <locationX>1073</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>PantallaCamposIngresoNoRellenos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Rellenos</name>
            <conditionLogic>3 AND 4 AND (1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>GetOportunidad.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retención</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOportunidad.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Plaza privada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOportunidad.MotivoIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOportunidad.DetalleMotivoIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPrimeraTarea</targetReference>
            </connector>
            <label>Rellenos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar la etapa de la oportunidad</description>
        <name>EtapaOportunidad</name>
        <label>EtapaOportunidad</label>
        <locationX>1353</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>PantallaNoValida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Apta</defaultConnectorLabel>
        <rules>
            <name>Apta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetOportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nueva Contactado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguimiento llamada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visita - Seguimiento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CamposIngresoRellenos</targetReference>
            </connector>
            <label>Apta</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para saber si existe una actividad asociada a la oportunidad</description>
        <name>ExisteActividad</name>
        <label>ExisteActividad</label>
        <locationX>776</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>PantallaSeNecesitaActividad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existe</defaultConnectorLabel>
        <rules>
            <name>Existe</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetPrimerEvento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPrimeraTarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PantallaClonarOportunidad</targetReference>
            </connector>
            <label>Existe</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para saber si existe una actividad asociada a la oportunidad</description>
        <name>TipoDeActividad</name>
        <label>TipoDeActividad</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>DuplicateInformacionEvento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ambos y Evento primero</defaultConnectorLabel>
        <rules>
            <name>Tarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrimeraTarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPrimerEvento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DuplicarInformacionTarea</targetReference>
            </connector>
            <label>Tarea</label>
        </rules>
        <rules>
            <name>Evento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrimerEvento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetPrimeraTarea</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DuplicarInformacionEvento</targetReference>
            </connector>
            <label>Evento</label>
        </rules>
        <rules>
            <name>AmbosYTareaPrimero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPrimeraTarea.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetPrimerEvento.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DuplicateInformacionTarea</targetReference>
            </connector>
            <label>Ambos y Tarea primero</label>
        </rules>
    </decisions>
    <description>Flujo de pantalla para clonar una oportunidad y su primera actividad para que no cuente en los informes
--
V2: Especificación Tarea y Evento obtenido son llamada y visita
--
V3: Corrección erratas
--
V4: Incluido caso etapa no válida
--
V5: Corrección erratas
--
V6: Corrección erratas
--
V7: Corrección erratas mensajes pantalla
--
V8: Mejoras mensajes pantalla
--
V9: Corrección Beta y Mystery Client
--
V10: Inclusión resto tipo de llamadas
--
V11: Inclusión &quot;Descripción&quot; duplicado oportunidad
--
V12: Inclusión &quot;Motivo Ingreso&quot; y &quot;Detalle Motivo Ingreso&quot; duplicado oportunidad
--
V13: Inclusión nodo decisión campos &quot;Motivo Ingreso&quot; y &quot;Detalle Motivo Ingreso&quot; rellenos</description>
    <dynamicChoiceSets>
        <description>Lista de selección producto de interés</description>
        <name>ListaSeleccionProductoInteres</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductoInteres__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Lista de selección tipo plaza</description>
        <name>ListaSeleccionTipoPlaza</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TipoPlaza__c</picklistField>
        <picklistObject>Plaza__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>OPORTUNIDAD - Clonar con Actividad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORTUNIDAD - Clonar con Actividad</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creamos el evento duplicado</description>
        <name>CrearEventoDuplicado</name>
        <label>CrearEventoDuplicado</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>PantallaFinProceso</targetReference>
        </connector>
        <inputReference>EventoAux</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creación de la oportunidad con la información obtenida</description>
        <name>CrearOportunidad</name>
        <label>CrearOportunidad</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>oportunidadClonadaID</assignRecordIdToReference>
        <connector>
            <targetReference>TipoDeActividad</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOportunidad.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>GetOportunidad.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competidor__c</field>
            <value>
                <elementReference>GetOportunidad.Competidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comunidad__c</field>
            <value>
                <elementReference>GetOportunidad.Comunidad__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DerivacionColaborador__c</field>
            <value>
                <elementReference>GetOportunidad.DerivacionColaborador__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>GetOportunidad.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetalleMotivoIngreso__c</field>
            <value>
                <elementReference>GetOportunidad.DetalleMotivoIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetalleOrigen__c</field>
            <value>
                <elementReference>GetOportunidad.DetalleOrigen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EsperaPlazaPublica__c</field>
            <value>
                <elementReference>GetOportunidad.EsperaPlazaPublica__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>GetOportunidad.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoIngreso__c</field>
            <value>
                <elementReference>GetOportunidad.MotivoIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetOportunidad.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenConocimiento__c</field>
            <value>
                <elementReference>GetOportunidad.OrigenConocimiento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prescriptor__c</field>
            <value>
                <elementReference>GetOportunidad.Prescriptor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <elementReference>GetOportunidad.Probability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductoInteres__c</field>
            <value>
                <elementReference>ProductoInteres</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recaptacion__c</field>
            <value>
                <elementReference>GetOportunidad.Recaptacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetOportunidad.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidenciaPreferencia__c</field>
            <value>
                <elementReference>residenciaDePreferencia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidenciasInteres__c</field>
            <value>
                <elementReference>GetOportunidad.ResidenciasInteres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>GetOportunidad.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoPlaza__c</field>
            <value>
                <elementReference>TipoPlazaOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traslado__c</field>
            <value>
                <elementReference>GetOportunidad.Traslado__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UrgenciaPercibida__c</field>
            <value>
                <elementReference>GetOportunidad.UrgenciaPercibida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zona__c</field>
            <value>
                <elementReference>GetOportunidad.Zona__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Creamos la tarea duplicada</description>
        <name>CrearTareaDuplicada</name>
        <label>CrearTareaDuplicada</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>PantallaFinProceso</targetReference>
        </connector>
        <inputReference>TareaAux</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creamos el evento duplicado</description>
        <name>CreateEventoDuplicado</name>
        <label>CreateEventoDuplicado</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>PantallaFinProceso</targetReference>
        </connector>
        <inputReference>EventoAux</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creamos la tarea duplicada</description>
        <name>CreateTareaDuplicada</name>
        <label>CreateTareaDuplicada</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>PantallaFinProceso</targetReference>
        </connector>
        <inputReference>TareaAux</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Obtenemos la oportunidad donde se ejecuta el flujo</description>
        <name>GetOportunidad</name>
        <label>GetOportunidad</label>
        <locationX>1353</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EtapaOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos la primera tarea de la oportunidad de origen</description>
        <name>GetPrimeraTarea</name>
        <label>GetPrimeraTarea</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPrimerEvento</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOportunidad.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Llamada entrante</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Llamada saliente</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos la primera visita de la oportunidad de origen</description>
        <name>GetPrimerEvento</name>
        <label>GetPrimerEvento</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteActividad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOportunidad.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visita</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Pantalla para mostrar un mensaje de que se necesita que la oportunidad tenga rellenos los campos Motivo de Ingreso y Detalle Motivo de Ingreso</description>
        <name>PantallaCamposIngresoNoRellenos</name>
        <label>PantallaCamposIngresoNoRellenos</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RegresarAOportunidad</targetReference>
        </connector>
        <fields>
            <name>avisoCamposIngreso</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 49, 49); font-size: 18px;&quot;&gt;Aviso: Campos Motivo de Ingreso y Detalle Motivo Ingreso no rellenos&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Los campos &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Motivo de Ingreso&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; y &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Detalle Motivo Ingreso&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; deben de estar rellenos para poder clonar una oportunidad privada o de retención.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Para realizar un duplicado estándar utilice el botón &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Duplicar&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla que muestra información para clonar una oportunidad</description>
        <name>PantallaClonarOportunidad</name>
        <label>PantallaClonarOportunidad</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CrearOportunidad</targetReference>
        </connector>
        <fields>
            <name>InformacionOportunidad</name>
            <fieldText>Información de la oportunidad</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InformacionOportunidad_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TipoOportunidad</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 10px;&quot;&gt;Tipo de registro de la oportunidad&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!GetOportunidad.RecordType.DeveloperName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InformacionOportunidad_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TipoPlazaOportunidad</name>
                    <choiceReferences>ListaSeleccionTipoPlaza</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetOportunidad.TipoPlaza__c</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de plaza</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>DatosPreferencia</name>
            <fieldText>Datos de preferencia</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DatosPreferencia_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductoInteres</name>
                    <choiceReferences>ListaSeleccionProductoInteres</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetOportunidad.ProductoInteres__c</elementReference>
                    </defaultValue>
                    <fieldText>Producto de interés</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DatosPreferencia_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ResidenciaPreferencia</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Residencia de preferencia</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ResidenciaPreferencia__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>residenciaDePreferencia</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar un mensaje de finalización del proceso</description>
        <name>PantallaFinProceso</name>
        <label>PantallaFinProceso</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedireccionOportunidad</targetReference>
        </connector>
        <fields>
            <name>finProceso</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;El proceso de duplicar la oportunidad ha finalizado &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;correctamente&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Pulse el botón &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Siguiente&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; para ser redirigido a la oportunidad clonada.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar un mensaje de que se necesita que la oportunidad esté en la etapa &quot;Nuevo contactado&quot;, &quot;Seguimiento llamada&quot; o &quot;Visita - Seguimiento&quot; para poder realizar el proceso.</description>
        <name>PantallaNoValida</name>
        <label>PantallaEtapaNoValida</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RegresarOportunidad</targetReference>
        </connector>
        <fields>
            <name>avisoEtapaOportunidad</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(234, 49, 49);&quot;&gt;Aviso: Etapa de la oportunidad no válida&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La etapa de la oportunidad debe ser &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Nueva Contactado&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot;, &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Seguimiento llamada&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; o &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Visita - Seguimiento&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; para realizar el proceso.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Para realizar un duplicado estándar utilice el botón &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Duplicar&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar un mensaje de que se necesita una actividad para realizar el proceso de clonar la oportunidad con actividad</description>
        <name>PantallaSeNecesitaActividad</name>
        <label>PantallaSeNecesitaActividad</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirigirOportunidad</targetReference>
        </connector>
        <fields>
            <name>avisoActividad</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(234, 49, 49);&quot;&gt;Aviso: Falta Actividad&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Se necesita una &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;llamada &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;o una &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;visita &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;para realizar el proceso.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Para realizar un duplicado estándar utilice el botón &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Duplicar&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1227</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo evento auxiliar para almacenar la información del evento a clonar</description>
        <name>EventoAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <description>Variable de tipo texto para almacenar el ID de la oportunidad clonada</description>
        <name>oportunidadClonadaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para almacenar el ID de la oportunidad de origen</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>variable auxiliar para almacenar la residencia de preferencia</description>
        <name>residenciaDePreferencia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable de tipo registro de Tarea para almacenar los datos de la tarea a duplicar</description>
        <name>TareaAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
