force-app/main/default/flows/OportunidadesEnvioSAPErroneo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CrearFichero</name>
        <label>Crear Fichero</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <actionName>XMLEnvioSAP</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConseguirIsSandbox</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <nameSegment>XMLEnvioSAP</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Partial</name>
        <label>Partial</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Instancia</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://amavir--partial.sandbox.lightning.force.com/</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaDescarga</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Produccion</name>
        <label>Produccion</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Instancia</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://amavir.lightning.force.com/</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaDescarga</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsSandbox</name>
        <label>Is Sandbox?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Produccion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConseguirIsSandbox.IsSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partial</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Oportunidades Envio SAP Erroneo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidades Envio SAP Erroneo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>EliminarDocumento</name>
        <label>Eliminar documento</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <inputReference>ObtenerDocumento</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>ConseguirIsSandbox</name>
        <label>Conseguir IsSandbox</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsSandbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Organization</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerDocumento</name>
        <label>Obtener documento</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EliminarDocumento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CrearFichero</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>PantallaDescarga</name>
        <label>Pantalla Descarga</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ObtenerDocumento</targetReference>
        </connector>
        <fields>
            <name>PantallaDescarga_Texto</name>
            <fieldText>&lt;p&gt;El siguiente enlace le descargará los ficheros automáticamente.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dele a finalizar descargue o no los ficheros.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Instancia}/sfc/servlet.shepherd/document/download/{!CrearFichero}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Instancia}sfc/servlet.shepherd/document/download/{!CrearFichero}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaInicio</name>
        <label>Pantalla de Inicio</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CrearFichero</targetReference>
        </connector>
        <fields>
            <name>PantallaInicio_Texto</name>
            <fieldText>&lt;p&gt;Para descargar los ficheros dale a siguiente. Recuerda: &lt;strong&gt;dale a finalizar en la siguiente pantalla&lt;/strong&gt; para eliminar los ficheros de Salesforce&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Siguiente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PantallaInicio</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Instancia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
