force-app/main/default/flows/OPORTUNIDAD_Actualizar_Nombre.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>Flujo de actualización del nombre de la oportunidad
--
V2: Optimización funcionalidad
--
V3,V4: Corrección obtener contacto Potencial/Residente</description>
    <environments>Default</environments>
    <formulas>
        <description>Variable de tipo fórmula texto para almacenar el nombre de la oportunidad actualizada</description>
        <name>NombreOportunidad</name>
        <dataType>String</dataType>
        <expression>TEXT({!OportunidadActualizada.ProductoInteres__c}) &amp; &quot; - &quot; &amp; {!GetResidente.FirstName} &amp; &quot; &quot; &amp; {!GetResidente.LastName}</expression>
    </formulas>
    <interviewLabel>OPORTUNIDAD - Actualizar Nombre {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORTUNIDAD - Actualizar Nombre</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos el RecordType &quot;Potencial/Residente&quot;</description>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetResidente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PotencialResidente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el residente relacionado con la oportunidad actualizada</description>
        <name>GetResidente</name>
        <label>GetResidente</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadActualizada.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizar el nombre de la oportunidad que ha sido modificada</description>
        <name>UpdateOportunidad</name>
        <label>UpdateOportunidad</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OportunidadActualizada.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreOportunidad</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo registro para almacenar la oportunidad actualizada pasada por parámetro</description>
        <name>OportunidadActualizada</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
