force-app/main/default/flows/OPORTUNIDADActualizarBetaYMysteryClient.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Asignamos el ID del contacto por el que iteramos</description>
        <name>AsignarContactoID</name>
        <label>AsignarContactoID</label>
        <locationX>138</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>ContactoAux.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarContactos.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionContactoAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactoAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetContactoAux</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos el ID de la oportunidad pasada por parámetro</description>
        <name>AsignarOppID</name>
        <label>AsignarOppID</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OppAux.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarOpps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionOppAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetOppAux</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos los valores de Beta y Mystery Client de la oportunidad pasada por parametro</description>
        <name>AsignarValoresContacto</name>
        <label>AsignarValoresContacto</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>ContactoAux.Beta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppEntrada.Beta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactoAux.MysteryClient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppEntrada.MysteryClient__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarContactos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos los valores de Beta y Mystery Client de la oportunidad pasada por parametro</description>
        <name>AsignarValoresOpp</name>
        <label>AsignarValoresOpp</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>OppAux.Beta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppEntrada.Beta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppAux.MysteryClient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppEntrada.MysteryClient__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterarOpps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseteamos el ID de la variable de OppContacto</description>
        <name>ResetContactoAux</name>
        <label>ResetContactoAux</label>
        <locationX>138</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>ContactoAux.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IterarContactos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseteamos el ID de la variable de OppAux</description>
        <name>ResetOppAux</name>
        <label>ResetOppAux</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>OppAux.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IterarOpps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Nodo de decisión para saber si se han obtenido contactos de la cuenta de la oportunidad pasada por parámetro</description>
        <name>HayContactos</name>
        <label>HayContactos</label>
        <locationX>182</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>UpdateCuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Hay</defaultConnectorLabel>
        <rules>
            <name>Hay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarValoresContacto</targetReference>
            </connector>
            <label>Hay</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si se han obtenido oportunidades</description>
        <name>HayOpps</name>
        <label>HayOpps</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>HayContactos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppsAbiertas</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarValoresOpp</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Flujo para actualizar los campos Beta y Mystery Client de las oportunidades relacionadas con la cuenta de la oportunidad pasada por parámetro, cuenta y contactos</description>
    <environments>Default</environments>
    <interviewLabel>OPORTUNIDAD - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORTUNIDAD - Actualizar Beta y Mystery Client</label>
    <loops>
        <description>Iteramos por los contactos obtenidos</description>
        <name>IterarContactos</name>
        <label>IterarContactos</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <collectionReference>GetContactos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarContactoID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContactos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos por las oportunidades obtenidas</description>
        <name>IterarOpps</name>
        <label>IterarOpps</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>GetOppsAbiertas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignarOppID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateOpps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Obtenemos los contactos relacionados con la cuenta de la oportunidad pasada por parámetro</description>
        <name>GetContactos</name>
        <label>GetContactos</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HayOpps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppEntrada.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos las oportunidades abiertas de la cuenta de la oportunidad pasada por parámetro</description>
        <name>GetOppsAbiertas</name>
        <label>GetOppsAbiertas</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppEntrada.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada - Éxito</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada - Perdida</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Envío SAP</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OppEntrada.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos los contactos de la cuenta de la oportunidad pasada por parámetro</description>
        <name>UpdateContactos</name>
        <label>UpdateContactos</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>UpdateCuenta</targetReference>
        </connector>
        <inputReference>ColeccionContactoAux</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar cuenta de la oportunidad pasada por parámetro</description>
        <name>UpdateCuenta</name>
        <label>UpdateCuenta</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppEntrada.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Beta__c</field>
            <value>
                <elementReference>OppEntrada.Beta__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MysteryClient__c</field>
            <value>
                <elementReference>OppEntrada.MysteryClient__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos las oportunidades de la cuenta de la oportunidad pasada por parámetro</description>
        <name>UpdateOpps</name>
        <label>UpdateOpps</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>HayContactos</targetReference>
        </connector>
        <inputReference>ColeccionOppAux</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOppsAbiertas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo colección de contactos para almacenar los contactos a actualizar</description>
        <name>ColeccionContactoAux</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Variable de tipo colección de oportunidades para almacenar las oportunidades a actualizar</description>
        <name>ColeccionOppAux</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable de tipo registro de contacto para almacenar los valores a actualizar</description>
        <name>ContactoAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Variable de tipo registro de oportunidad para almacenar los valores a actualizar</description>
        <name>OppAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable de registro de oportunidad que se recibe por parámetro</description>
        <name>OppEntrada</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
