force-app/main/default/flows/OPORT_ActualizarOportunidadV3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alerta_0_0</name>
        <label>Alerta</label>
        <locationX>2833</locationX>
        <locationY>1163</locationY>
        <actionName>Opportunity.AlertaCorreoEquipoOportunidades</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Actualizacionporpiedaddelaoportunidad</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.AlertaCorreoEquipoOportunidades</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AlertaEquipoOpptDerivacion_0</name>
        <label>Alerta equipo oppt derivación</label>
        <locationX>3911</locationX>
        <locationY>2471</locationY>
        <actionName>Opportunity.AlertaCorreoEquipoOportunidadesDerivacion</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.AlertaCorreoEquipoOportunidadesDerivacion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EmailEquipoDerivacion_0_0</name>
        <label>Email Equipo Derivación</label>
        <locationX>3031</locationX>
        <locationY>2279</locationY>
        <actionName>Opportunity.AlertaCorreoEquipoOportunidadesDerivacion</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.AlertaCorreoEquipoOportunidadesDerivacion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Envia mnsaje a Opp Team</description>
        <name>Opp_Team_0_0</name>
        <label>Opp Team</label>
        <locationX>1711</locationX>
        <locationY>2279</locationY>
        <actionName>Opportunity.AlertaCorreoEquipoOportunidades</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.AlertaCorreoEquipoOportunidades</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Envia mensaje</description>
        <name>Opp_Team_3_0</name>
        <label>Opp Team 3</label>
        <locationX>2151</locationX>
        <locationY>2279</locationY>
        <actionName>Opportunity.AlertaCorreoEquipoOportunidades</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.AlertaCorreoEquipoOportunidades</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Envia mnsaje a Opp Team</description>
        <name>Opp_Team_5_0</name>
        <label>Opp Team 5</label>
        <locationX>2591</locationX>
        <locationY>2279</locationY>
        <actionName>Opportunity.AlertaCorreoEquipoOportunidades</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.AlertaCorreoEquipoOportunidades</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Añadimos los ids de las oportunidades a la colección</description>
        <name>AnyadirIdsOportunidades</name>
        <label>Añadir ids de oportunidades</label>
        <locationX>2250</locationX>
        <locationY>4079</locationY>
        <assignmentItems>
            <assignToReference>IdsOportunidades</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BucleOportunidades.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BucleOportunidades</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Si la etapa en Nuevo contactado y el propietario de la oportunidad es diferente al propietario del Centro de preferencia 
Si la etapa es seguimiento llamada y el propietario de la oportunidad es diferente al propietario del Centro de preferencia 
Se ha anulado la derivación 
Se cambia la derivación</description>
        <name>Actualizacionporpiedaddelaoportunidad</name>
        <label>Actualización propiedad oportunidad</label>
        <locationX>3119</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>NuevoContactadoCambiaResiPreferencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResidenciaPreferencia__r.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nueva Contactado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResidenciaPreferencia__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerEquipoOportunidades1</targetReference>
            </connector>
            <label>Nuevo Contactado y cambia resi preferencia</label>
        </rules>
        <rules>
            <name>Seguimiento_de_llamada_y_cambia_residencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguimiento llamada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResidenciaPreferencia__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ResidenciaPreferencia__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Derivacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerEquipoOportunidades3</targetReference>
            </connector>
            <label>Seguimiento de llamada y cambia residencia</label>
        </rules>
        <rules>
            <name>VisitaSeguimientoResidenciaPreferencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.ResidenciaPreferencia__r.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visita - Seguimiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Derivacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResidenciaPreferencia__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerEquipoOportunidades5</targetReference>
            </connector>
            <label>Visita-Seguimiento y Residencia preferencia</label>
        </rules>
        <rules>
            <name>DerivacionRelleno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Derivacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResidenciaDerivacion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ResidenciaDerivacion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerEquipoOportunidades6</targetReference>
            </connector>
            <label>Derivación relleno</label>
        </rules>
        <rules>
            <name>HanQuitadoDerivacion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Derivacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Derivacion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResidenciaDerivacion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResidenciaPreferencia__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerEquipoOportunidades7</targetReference>
            </connector>
            <label>Han quitado derivación</label>
        </rules>
        <rules>
            <name>Secambiaderivaci_n</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResidenciaDerivacion__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ResidenciaDerivacion__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerEquipoOportunidades4</targetReference>
            </connector>
            <label>Se cambia la derivación</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el creador oportunidad no es de la sede se manda a una cola de tareas para su sguimiento</description>
        <name>CreadorOportunidad</name>
        <label>CreadorOportunidad</label>
        <locationX>182</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>CrearTarea_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PropietarioSede</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amavir Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0</targetReference>
            </connector>
            <label>Propietario Sede</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el creador oportunidad no es de la sede se manda a una cola de tareas para su sguimiento</description>
        <name>CreadorOportunidad_0</name>
        <label>CreadorOportunidad</label>
        <locationX>710</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>CrearTarea_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PropietarioSede_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amavir Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0_0_0</targetReference>
            </connector>
            <label>Propietario Sede</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el creador oportunidad no es de la sede se manda a una cola de tareas para su sguimiento</description>
        <name>CreadorOportunidad_0_0</name>
        <label>CreadorOportunidad</label>
        <locationX>1238</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>CrearTarea_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PropietarioSede_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amavir Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0_0_0_0</targetReference>
            </connector>
            <label>Propietario Sede</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si la derivación es nula</description>
        <name>DerivacionNula</name>
        <label>¿Derivación Nula?</label>
        <locationX>4043</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Owner_Opp_4_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>La derivación no es nula</defaultConnectorLabel>
        <rules>
            <name>DerivacionNulaVerdadero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResidenciaDerivacion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerEquipoOportunidades4_0</targetReference>
            </connector>
            <label>La derivación es nula</label>
        </rules>
    </decisions>
    <decisions>
        <description>Encuentra visita, si o no</description>
        <name>Encuentra_visita</name>
        <label>Encuentra visita?</label>
        <locationX>3614</locationX>
        <locationY>3971</locationY>
        <defaultConnector>
            <targetReference>Urgencia_Percibida_No_visita</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No encuentra Vsita</defaultConnectorLabel>
        <rules>
            <name>Encuentra_Visita_SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerPropietarioVisita.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarUrgenciaPercibidaOportunidad</targetReference>
            </connector>
            <label>Encuentra Visita SI</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipoObtenido_0</name>
        <label>Equipo Obtenido?</label>
        <locationX>1843</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiHayEquipo_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades1_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Team_0_0</targetReference>
            </connector>
            <label>Si Hay Equipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipoObtenido_0_0</name>
        <label>Equipo Obtenido?</label>
        <locationX>2283</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiHayEquipo_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades3_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Team_3_0</targetReference>
            </connector>
            <label>Si Hay Equipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipoObtenido_0_0_0</name>
        <label>Equipo Obtenido?</label>
        <locationX>2723</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiHayEquipo_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades5_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Team_5_0</targetReference>
            </connector>
            <label>Si Hay Equipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipoObtenido_0_0_0_0</name>
        <label>Equipo Obtenido?</label>
        <locationX>3163</locationX>
        <locationY>2171</locationY>
        <defaultConnector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiHayEquipo_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades6_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailEquipoDerivacion_0_0</targetReference>
            </connector>
            <label>Si Hay Equipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipoObtenido_0_0_0_0_0</name>
        <label>Equipo Obtenido?</label>
        <locationX>1843</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Owner_Opp2_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiHayEquipo_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades1_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EliminamosEquipoAntiguo1_0</targetReference>
            </connector>
            <label>Si Hay Equipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipoObtenido_0_0_0_0_0_0</name>
        <label>Equipo Obtenido?</label>
        <locationX>4043</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiHayEquipo_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades4_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlertaEquipoOpptDerivacion_0</targetReference>
            </connector>
            <label>Si Hay Equipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipoObtenido_0_0_0_0_0_0_0</name>
        <label>Equipo Obtenido?</label>
        <locationX>2283</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Owner_Opp_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiHayEquipo_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EliminamosEquipoAntiguo3_0</targetReference>
            </connector>
            <label>Si Hay Equipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipoObtenido_0_0_0_0_0_0_0_0</name>
        <label>Equipo Obtenido?</label>
        <locationX>2723</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Owner_Opp5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiHayEquipo_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EliminamosEquipoAntiguo5_0</targetReference>
            </connector>
            <label>Si Hay Equipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipoObtenido_0_0_0_0_0_0_0_0_0</name>
        <label>Equipo Obtenido?</label>
        <locationX>3163</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>ActualizarEtapaPropietario_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiHayEquipo_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades6</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EliminamosEquipoAntiguo6_0</targetReference>
            </connector>
            <label>Si Hay Equipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipoObtenido_0_0_0_0_0_0_0_0_0_0</name>
        <label>Equipo Obtenido?</label>
        <locationX>3603</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Owner_Opp_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiHayEquipo_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades7</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EliminamosEquipoAntiguo7_0</targetReference>
            </connector>
            <label>Si Hay Equipo</label>
        </rules>
    </decisions>
    <decisions>
        <name>EquipoObtenido_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Equipo Obtenido?</label>
        <locationX>4043</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>DerivacionNula</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiHayEquipo_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EliminamosEquipoAntiguo4_0</targetReference>
            </connector>
            <label>Si Hay Equipo</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si tenemos residencia de ingreso y fecha de ingreso, vacíamos los datos de lista de espera</description>
        <name>FechaIngresoResidenciaIngreso</name>
        <label>Fecha ingreso y Residencia de ingreso???</label>
        <locationX>3119</locationX>
        <locationY>3455</locationY>
        <defaultConnector>
            <targetReference>QueEstadoTieneOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>VaciamosListaEspera</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FechaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ResidenciaIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VaciarDatosListaEspera_0_0</targetReference>
            </connector>
            <label>Vaciamos lista de espera</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ha cambiado el campo de Urgencia percibida</description>
        <name>Ha_cambiado_la_urgencia_percibidad_de_la_Opp</name>
        <label>Ha cambiado la urgencia percibidad de la Opp?</label>
        <locationX>3119</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>ObtenerTipoRegistroTarea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>S_ha_cambiado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recoge_todos_las_tareas_de_la_Opp</targetReference>
            </connector>
            <label>Sí ha cambiado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Revisamos si hemos obtenido el registro de visita porque hay posibilidad de que esta no se hay producido</description>
        <name>HemosObtenidoVisita</name>
        <label>Hemos obtenido visita??</label>
        <locationX>2162</locationX>
        <locationY>4595</locationY>
        <defaultConnector>
            <targetReference>ActualizaFechaListaEspera_Oppt_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SiTenemosVisita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerVisita.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CriterioPreferenciaListaEspera__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resto Fecha inscripción</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizaFechaListaEspera_Oppt_0</targetReference>
            </connector>
            <label>Si tenemos visita</label>
        </rules>
        <rules>
            <name>SiTenemosTarea</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerPrimeraTarea.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CriterioPreferenciaListaEspera__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Resto Fecha inscripción</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizaFechaListaEspera_Oppt_0_0_0_0</targetReference>
            </connector>
            <label>Si tenemos tarea</label>
        </rules>
    </decisions>
    <decisions>
        <name>OportunidadNueva</name>
        <label>Oportunidad Nueva</label>
        <locationX>3119</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Actualizacionporpiedaddelaoportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nueva Contactado</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FechaCreacionAhora</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizaPropietarioOportunidad_0</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Dependiendo del estado de la opp haremos una cosa u otra</description>
        <name>QueEstadoTieneOportunidad</name>
        <label>¿Qué estado tiene la oportunidad?</label>
        <locationX>3119</locationX>
        <locationY>3755</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>EtapaseguimientoLlamada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguimiento llamada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UrgenciaPercibida</targetReference>
            </connector>
            <label>Etapa seguimiento Llamada</label>
        </rules>
        <rules>
            <name>TieneCriterioListaEspera</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CriterioPreferenciaListaEspera__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CriterioPreferenciaListaEspera__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerTodasOportunidadesCuenta</targetReference>
            </connector>
            <label>Tiene criterio lista de espera</label>
        </rules>
        <rules>
            <name>EtapaSeguimientoVisita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visita - Seguimiento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerPropietarioVisita</targetReference>
            </connector>
            <label>Etapa Visita - Seguimiento</label>
        </rules>
        <rules>
            <name>AutoEtapaReservaPlaza</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PagoReserva__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PagoReserva__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FechaIngresoPlanificado__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizamosOpp</targetReference>
            </connector>
            <label>Auto Etapa en Reserva de plaza</label>
        </rules>
        <rules>
            <name>EtapaCerradaPerdida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada - Perdida</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VaciarDatosListaEspera_0</targetReference>
            </connector>
            <label>Etapa Cerrada Perdida</label>
        </rules>
    </decisions>
    <decisions>
        <name>TieneEquipo1</name>
        <label>Tiene Equipo?</label>
        <locationX>2965</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Actualizacionporpiedaddelaoportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Si1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerEquipoOportunidades8</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alerta_0_0</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>TieneMarcadaVisitaContactoResidente</name>
        <label>Tiene Marcada Visita Contacto Residente</label>
        <locationX>3119</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>OportunidadNueva</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>SI0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerResidente.Contact.ConVisita__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MarcamosOportConVisita</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision de urgencia percibida, si no encuentra visita</description>
        <name>Urgencia_Percibida_No_visita</name>
        <label>Urgencia Percibida No visita</label>
        <locationX>4142</locationX>
        <locationY>4079</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Alta2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tarea_Alta</targetReference>
            </connector>
            <label>Alta2</label>
        </rules>
        <rules>
            <name>Media2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tarea_Media</targetReference>
            </connector>
            <label>Media2</label>
        </rules>
        <rules>
            <name>Baja2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tarea_Baja</targetReference>
            </connector>
            <label>Baja2</label>
        </rules>
    </decisions>
    <decisions>
        <description>Urgencia percibida</description>
        <name>UrgenciaPercibida</name>
        <label>Urgencia percibida</label>
        <locationX>908</locationX>
        <locationY>3863</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Alta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreadorOportunidad</targetReference>
            </connector>
            <label>Alta</label>
        </rules>
        <rules>
            <name>Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreadorOportunidad_0</targetReference>
            </connector>
            <label>Media</label>
        </rules>
        <rules>
            <name>Baja</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreadorOportunidad_0_0</targetReference>
            </connector>
            <label>Baja</label>
        </rules>
    </decisions>
    <decisions>
        <description>Urgencia percibida</description>
        <name>UrgenciaPercibida_0</name>
        <label>Urgencia percibida</label>
        <locationX>3086</locationX>
        <locationY>4187</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Alta_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Alta</label>
        </rules>
        <rules>
            <name>Media_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Media</label>
        </rules>
        <rules>
            <name>Baja_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UrgenciaPercibida__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearTarea_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Baja</label>
        </rules>
    </decisions>
    <description>MSA (16/10/2024): Coge la tarea con la fecha de visita más reciente de todas las oportunidades de la cuenta
--
MSA (13/09/2024): Ya no se tiene en cuenta el contacto a la hora de poner la fecha de lista de espera
--
MSA (03/06/2024): Actualización en modificar derivación, cuando la derivación es nula no se actualiza el propietario de la oportunidad
--
Actualización Nodo Decisión Y Caminos Actualización Fecha Espera
--
Actualización con casuística Usuario de Centro de día (Criterio Pref Lista Espera)
--
Actualización fecha criterios preferencia Lista Espera</description>
    <environments>Default</environments>
    <formulas>
        <name>FechaCreacionAhora</name>
        <dataType>Date</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>FechaHora</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>Fecha de hoy más 15 días</description>
        <name>HoyMasQuinceDias</name>
        <dataType>Date</dataType>
        <expression>NOW ()+15</expression>
    </formulas>
    <formulas>
        <name>HoyMasTreintaDias</name>
        <dataType>Date</dataType>
        <expression>NOW()+30</expression>
    </formulas>
    <formulas>
        <description>Fecha de hoy más un día</description>
        <name>HoyMasUnDia</name>
        <dataType>Date</dataType>
        <expression>NOW()+1</expression>
    </formulas>
    <interviewLabel>OPORT_Actualizar flujo v3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORT_Actualizar la oportunidad v3</label>
    <loops>
        <description>Bucle oportunidades</description>
        <name>BucleOportunidades</name>
        <label>Bucle de Oportunidades</label>
        <locationX>2162</locationX>
        <locationY>3971</locationY>
        <collectionReference>ObtenerTodasOportunidadesCuenta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AnyadirIdsOportunidades</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ObtenerTiposRegistroEventoVisita</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Recopila todas las tareas de la Opp</description>
        <name>Recoge_todos_las_tareas_de_la_Opp</name>
        <label>Recoge todos las tareas de la Opp</label>
        <locationX>3011</locationX>
        <locationY>2963</locationY>
        <collectionReference>TodaslasTareasdelaOpp</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualiza_las_tareas_de_la_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ObtenerTipoRegistroTarea</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0</name>
        <label>Crear Tarea</label>
        <locationX>50</locationX>
        <locationY>4079</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Alta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>314</locationX>
        <locationY>4079</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ColaTareasSeguimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Alta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>578</locationX>
        <locationY>4079</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Media</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>1106</locationX>
        <locationY>4079</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Baja</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>2690</locationX>
        <locationY>4295</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerPropietarioVisita.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Alta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>842</locationX>
        <locationY>4079</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ColaTareasSeguimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Media</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>1370</locationX>
        <locationY>4079</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.ColaTareasSeguimiento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Baja</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento o recaptación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>2954</locationX>
        <locationY>4295</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerPropietarioVisita.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Media</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear tarea de seguimiento al creador de la oportunidad sii este es de la sede/ centralita</description>
        <name>CrearTarea_0_0_0_0_0_0_0_0_0_0</name>
        <label>Crear Tarea</label>
        <locationX>3218</locationX>
        <locationY>4295</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerPropietarioVisita.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Baja</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_Alta</name>
        <label>Tarea Alta</label>
        <locationX>3746</locationX>
        <locationY>4187</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Alta</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasUnDia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_Baja</name>
        <label>Tarea Baja</label>
        <locationX>4274</locationX>
        <locationY>4187</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Baja</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasTreintaDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarea_Media</name>
        <label>Tarea Media</label>
        <locationX>4010</locationX>
        <locationY>4187</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Media</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ObtenerTipoRegistroTarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>HoyMasQuinceDias</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Llamada saliente de seguimiento visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>EliminamosEquipoAntiguo1_0</name>
        <label>Eliminamos el equipo antiguo 1</label>
        <locationX>1711</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Actualiza_Owner_Opp2_0</targetReference>
        </connector>
        <inputReference>ObtenerEquipoOportunidades1</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>EliminamosEquipoAntiguo3_0</name>
        <label>Eliminamos el equipo antiguo 3</label>
        <locationX>2151</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Actualiza_Owner_Opp_3</targetReference>
        </connector>
        <inputReference>ObtenerEquipoOportunidades3</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>EliminamosEquipoAntiguo4_0</name>
        <label>Eliminamos el equipo antiguo 4</label>
        <locationX>3911</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>DerivacionNula</targetReference>
        </connector>
        <inputReference>ObtenerEquipoOportunidades4</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>EliminamosEquipoAntiguo5_0</name>
        <label>Eliminamos el equipo antiguo 5</label>
        <locationX>2591</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Actualiza_Owner_Opp5</targetReference>
        </connector>
        <inputReference>ObtenerEquipoOportunidades5</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>EliminamosEquipoAntiguo6_0</name>
        <label>Eliminamos el equipo antiguo 6</label>
        <locationX>3031</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>ActualizarEtapaPropietario_0</targetReference>
        </connector>
        <inputReference>ObtenerEquipoOportunidades6</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>EliminamosEquipoAntiguo7_0</name>
        <label>Eliminamos el equipo antiguo 7</label>
        <locationX>3471</locationX>
        <locationY>1763</locationY>
        <connector>
            <targetReference>Actualiza_Owner_Opp_4</targetReference>
        </connector>
        <inputReference>ObtenerEquipoOportunidades7</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Obtenemos todas las tareas para actualizar la urgencia</description>
        <name>Obtener_todas_las_tareas_de_la_Opp</name>
        <label>Obtener todas las tareas de la Opp</label>
        <locationX>3119</locationX>
        <locationY>2747</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ha_cambiado_la_urgencia_percibidad_de_la_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>TodaslasTareasdelaOpp</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades1</name>
        <label>Obtener equipo oportunidades 1</label>
        <locationX>1843</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipoObtenido_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades1_0</name>
        <label>Obtener equipo oportunidades 1</label>
        <locationX>1843</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipoObtenido_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades3</name>
        <label>Obtener equipo oportunidades 3</label>
        <locationX>2283</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipoObtenido_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades3_0</name>
        <label>Obtener equipo oportunidades 3</label>
        <locationX>2283</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipoObtenido_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades4</name>
        <label>Obtener equipo oportunidades 4</label>
        <locationX>4043</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipoObtenido_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades4_0</name>
        <label>Obtener equipo oportunidades 4</label>
        <locationX>4043</locationX>
        <locationY>2255</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipoObtenido_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades5</name>
        <label>Obtener equipo oportunidades 5</label>
        <locationX>2723</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipoObtenido_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades5_0</name>
        <label>Obtener equipo oportunidades 5</label>
        <locationX>2723</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipoObtenido_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades6</name>
        <label>Obtener equipo oportunidades 6</label>
        <locationX>3163</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipoObtenido_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades6_0</name>
        <label>Obtener equipo oportunidades 6</label>
        <locationX>3163</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipoObtenido_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades7</name>
        <label>Obtener equipo oportunidades 7</label>
        <locationX>3603</locationX>
        <locationY>1547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EquipoObtenido_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el equipo de oportunidades</description>
        <name>ObtenerEquipoOportunidades8</name>
        <label>Obtener equipo oportunidades</label>
        <locationX>2965</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TieneEquipo1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos la primera tarea que se asignará como fecha de lista de espera</description>
        <name>ObtenerPrimeraTarea</name>
        <label>Obtener la primera tarea</label>
        <locationX>2162</locationX>
        <locationY>4487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HemosObtenidoVisita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>IdsOportunidades</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>ActivityDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerPropietarioVisita</name>
        <label>ObtenerPropietarioVisita</label>
        <locationX>3614</locationX>
        <locationY>3863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Encuentra_visita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visita</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el residente para verificar si ha realizado alguna visita a centros Amavir y esta marcado el check de contacto Con Visita</description>
        <name>ObtenerResidente</name>
        <label>Obtener Residente</label>
        <locationX>3119</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TieneMarcadaVisitaContactoResidente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Residente</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el tipo de registro de tarea</description>
        <name>ObtenerTipoRegistroTarea</name>
        <label>ObtenerTipoRegistroTarea</label>
        <locationX>3119</locationX>
        <locationY>3347</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FechaIngresoResidenciaIngreso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tarea</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObtenerTiposRegistroEventoVisita</name>
        <label>Obtener tipos de registro evento visita</label>
        <locationX>2162</locationX>
        <locationY>4271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenerVisita</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visita</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos todas las oportunidades de la cuenta</description>
        <name>ObtenerTodasOportunidadesCuenta</name>
        <label>Obtener todas las oportunidades de la cuenta</label>
        <locationX>2162</locationX>
        <locationY>3863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BucleOportunidades</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos los eventos de tipo visita</description>
        <name>ObtenerVisita</name>
        <label>Obtener visita</label>
        <locationX>2162</locationX>
        <locationY>4379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObtenerPrimeraTarea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerTiposRegistroEventoVisita.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>In</operator>
            <value>
                <elementReference>IdsOportunidades</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_las_tareas_de_la_Opp</name>
        <label>Actualiza las tareas de la Opp</label>
        <locationX>3099</locationX>
        <locationY>3071</locationY>
        <connector>
            <targetReference>Recoge_todos_las_tareas_de_la_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.UrgenciaPercibida__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza Owner de la OPP</description>
        <name>Actualiza_Owner_Opp2_0</name>
        <label>Actualiza Owner Opp</label>
        <locationX>1843</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>ObtenerEquipoOportunidades1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ResidenciaPreferencia__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza Owner de la OPP</description>
        <name>Actualiza_Owner_Opp5</name>
        <label>Actualiza Owner Opp 5</label>
        <locationX>2723</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>ObtenerEquipoOportunidades5_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ResidenciaPreferencia__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Owner Opp</description>
        <name>Actualiza_Owner_Opp_3</name>
        <label>Actualiza Owner Opp 3</label>
        <locationX>2283</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>ObtenerEquipoOportunidades3_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ResidenciaPreferencia__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Owner Opp</description>
        <name>Actualiza_Owner_Opp_4</name>
        <label>Actualiza Owner Opp 4</label>
        <locationX>3603</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Obtener_todas_las_tareas_de_la_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ResidenciaPreferencia__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Owner Opp</description>
        <name>Actualiza_Owner_Opp_4_0</name>
        <label>Actualiza Owner Opp 4</label>
        <locationX>4131</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>ObtenerEquipoOportunidades4_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ResidenciaDerivacion__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Aplica la fecha actual a la Fecha lista de espera</description>
        <name>ActualizaFechaListaEspera_Oppt_0</name>
        <label>Actualiza Fecha Lista Espera Oppt</label>
        <locationX>1898</locationX>
        <locationY>4703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConVisita__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FechaHoraListaeEspera__c</field>
            <value>
                <elementReference>ObtenerVisita.StartDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Lista de espera - Derivación - Traslado</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Aplica la fecha actual a la Fecha lista de espera</description>
        <name>ActualizaFechaListaEspera_Oppt_0_0</name>
        <label>Actualiza Fecha Lista Espera Oppt</label>
        <locationX>2426</locationX>
        <locationY>4703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FechaHoraListaeEspera__c</field>
            <value>
                <elementReference>FechaHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Lista de espera - Derivación - Traslado</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Aplica la fecha actual a la Fecha lista de espera</description>
        <name>ActualizaFechaListaEspera_Oppt_0_0_0_0</name>
        <label>Actualiza Fecha Lista Espera Oppt</label>
        <locationX>2162</locationX>
        <locationY>4703</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ConVisita__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FechaHoraListaeEspera__c</field>
            <value>
                <elementReference>ObtenerPrimeraTarea.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Lista de espera - Derivación - Traslado</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Cuando la opp cambie a la etapa Reserva de Plaza el campo Fecha y hora reserva de plaza se tiene que autocompletar con la fecha y la hora de ese momento</description>
        <name>ActualizamosOpp</name>
        <label>Actualizamos la Oportunidad</label>
        <locationX>4802</locationX>
        <locationY>3863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FechaHoraReservaPlaza__c</field>
            <value>
                <elementReference>FechaHora</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Reserva de plaza</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizaPropietarioOportunidad_0</name>
        <label>Actualiza el propietario de la Oportunidad</label>
        <locationX>2965</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>ObtenerEquipoOportunidades8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nueva Contactado</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ResidenciaPreferencia__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza la etapa de la oportunidad a Lista de espera - Derivación y el propietario al de la residencia de derivación</description>
        <name>ActualizarEtapaPropietario_0</name>
        <label>Actualiza etapa y propietario</label>
        <locationX>3163</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>ObtenerEquipoOportunidades6_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.ResidenciaDerivacion__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Lista de espera - Derivación - Traslado</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos la urgencia percibida de la oportunidad con la indicada en la última visita</description>
        <name>ActualizarUrgenciaPercibidaOportunidad</name>
        <label>Actualizar Urgencia Percibida Oportunidad</label>
        <locationX>3086</locationX>
        <locationY>4079</locationY>
        <connector>
            <targetReference>UrgenciaPercibida_0</targetReference>
        </connector>
        <inputAssignments>
            <field>UrgenciaPercibida__c</field>
            <value>
                <elementReference>ObtenerPropietarioVisita.UrgenciaPercibidaVisita__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Marcamos la oportunidad Con Visita</description>
        <name>MarcamosOportConVisita</name>
        <label>Marcamos Oport Con Visita</label>
        <locationX>2987</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>OportunidadNueva</targetReference>
        </connector>
        <inputAssignments>
            <field>ConVisita__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Si una oportunidad está cerrada éxito tenemos que vaciar la fecha y criterios de lista de espera</description>
        <name>VaciarDatosListaEspera_0</name>
        <label>Vaciar Datos Lista Espera</label>
        <locationX>5066</locationX>
        <locationY>3863</locationY>
        <inputAssignments>
            <field>CriterioPreferenciaListaEspera__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FechaHoraListaeEspera__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Traslado__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Si una oportunidad está cerrada éxito tenemos que vaciar la fecha y criterios de lista de espera</description>
        <name>VaciarDatosListaEspera_0_0</name>
        <label>Vaciar Datos Lista Espera</label>
        <locationX>2987</locationX>
        <locationY>3563</locationY>
        <connector>
            <targetReference>QueEstadoTieneOportunidad</targetReference>
        </connector>
        <inputAssignments>
            <field>CriterioPreferenciaListaEspera__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FechaHoraListaeEspera__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2993</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtenerResidente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cerrada - Éxito</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>El asunto del correo que se envía al equipo de opp</description>
        <name>AsuntoCorreo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Prueba&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Cuerpo del correo que se envía al equipo de opp</description>
        <name>CuepoCorreo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Probando&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>idRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que guarda los Ids de las oportunidades</description>
        <name>IdsOportunidades</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PlazaOcupada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PlazaResidenciaVacia</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TodaslasTareasdelaOpp</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
