force-app/main/default/flows/OPORTUNIDADDuplicarATraslado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Acción para redirigir la funcionalidad a la oportunidad creada</description>
        <name>RedireccionOportunidad</name>
        <label>RedireccionOportunidad</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>oportunidadClonadaID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Acción para redirigir la funcionalidad a la oportunidad existente</description>
        <name>RegresaOportunidad</name>
        <label>RegresarOportunidad</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Acción para redirigir la funcionalidad a la oportunidad existente</description>
        <name>RegresarOportunidad</name>
        <label>RegresarOportunidad</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>GetOportunidad.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Nodo de decisión para comprobar que los campos de Motivo de Ingreso y Detalle Motivo de Ingreso están incompletos</description>
        <name>CamposMotivoIngresoIncompletos</name>
        <label>Campos Motivo de Ingreso Incompletos</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>GetRecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>GetOportunidad.MotivoIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOportunidad.DetalleMotivoIngreso__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOportunidad.TipoPlaza__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PantallaMotivosIngresoPendientes</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar la etapa de la oportunidad</description>
        <name>EtapaOportunidad</name>
        <label>EtapaOportunidad</label>
        <locationX>501</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>PantallaNoValida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Apta</defaultConnectorLabel>
        <rules>
            <name>Apta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetOportunidad.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cerrada - Éxito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CamposMotivoIngresoIncompletos</targetReference>
            </connector>
            <label>Apta</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si la fecha de la lista de espera está rellena</description>
        <name>FechaListaEsperaRellena</name>
        <label>Fecha Lista Espera Rellena</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>PantallaFinProceso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Rellena</defaultConnectorLabel>
        <rules>
            <name>Rellena</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOportunidad.FechaHoraListaeEspera__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateFechaListaEspera</targetReference>
            </connector>
            <label>Rellena</label>
        </rules>
    </decisions>
    <description>Funcionalidad para crear una oportunidad de tipo traslado en base a una oportunidad cerrada a éxito
--
V4 Actualización Fecha Hora Lista Espera
--
V5: Eliminación campos Zona y Residencias Interés
--
V6: Inclusión campos Motivo de Ingreso y Detalle Motivo de Ingreso
--
V7: Incluir condición campos Motivo de Ingreso y Detalle Motivo de Ingreso rellenos
--
V8: Incluir campo Motivo de traslado
--
V9: Incluir campo Detalles motivo traslado</description>
    <dynamicChoiceSets>
        <name>Comunidad</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Comunidad__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Conjunto de valores para el campo &quot;Motivo de traslado&quot;</description>
        <name>MotivoDeTraslado</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MotivoTraslado__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductoInteres</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductoInteres__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Calcula la fecha de cierre de la oportunidad en base a la fecha en la que se creó sumándole un año</description>
        <name>FechaCierreOportunidad</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <interviewLabel>OPORTUNIDAD - Duplicar a Traslado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OPORTUNIDAD - Duplicar a Traslado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creación de la oportunidad con la información obtenida</description>
        <name>CrearOportunidad</name>
        <label>CrearOportunidad</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>oportunidadClonadaID</assignRecordIdToReference>
        <connector>
            <targetReference>FechaListaEsperaRellena</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOportunidad.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>FechaCierreOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competidor__c</field>
            <value>
                <elementReference>GetOportunidad.Competidor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comunidad__c</field>
            <value>
                <elementReference>ComunidadOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CriterioPreferenciaListaEspera__c</field>
            <value>
                <stringValue>Traslado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DerivacionColaborador__c</field>
            <value>
                <elementReference>GetOportunidad.DerivacionColaborador__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>GetOportunidad.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetalleMotivoIngreso__c</field>
            <value>
                <elementReference>GetOportunidad.DetalleMotivoIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetalleOrigen__c</field>
            <value>
                <elementReference>GetOportunidad.DetalleOrigen__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DetalleTraslado__c</field>
            <value>
                <elementReference>DetallesMotivoTraslado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EsperaPlazaPublica__c</field>
            <value>
                <elementReference>GetOportunidad.EsperaPlazaPublica__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>GetOportunidad.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoIngreso__c</field>
            <value>
                <elementReference>GetOportunidad.MotivoIngreso__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MotivoTraslado__c</field>
            <value>
                <elementReference>MotivoTraslado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrigenConocimiento__c</field>
            <value>
                <elementReference>GetOportunidad.OrigenConocimiento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PerfilPotencialResidente__c</field>
            <value>
                <elementReference>GetOportunidad.PerfilPotencialResidente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prescriptor__c</field>
            <value>
                <elementReference>GetOportunidad.Prescriptor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductoInteres__c</field>
            <value>
                <elementReference>ProductoInteresOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Promocion__c</field>
            <value>
                <elementReference>GetOportunidad.Promocion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recaptacion__c</field>
            <value>
                <elementReference>GetOportunidad.Recaptacion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResidenciaPreferencia__c</field>
            <value>
                <elementReference>ResidenciaPreferencia.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Lista de espera - Derivación - Traslado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TipoPlaza__c</field>
            <value>
                <elementReference>GetOportunidad.TipoPlaza__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Traslado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UrgenciaPercibida__c</field>
            <value>
                <elementReference>GetOportunidad.UrgenciaPercibida__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <description>Obtenemos la oportunidad donde se ejecuta el flujo</description>
        <name>GetOportunidad</name>
        <label>GetOportunidad</label>
        <locationX>501</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EtapaOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el tipo de registro de oportunidad Retención</description>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PantallaClonarOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Traslado</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos la fecha de la lista de espera</description>
        <name>UpdateFechaListaEspera</name>
        <label>UpdateFechaListaEspera</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>PantallaFinProceso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oportunidadClonadaID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FechaHoraListaeEspera__c</field>
            <value>
                <elementReference>GetOportunidad.FechaHoraListaeEspera__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Pantalla que muestra información para clonar una oportunidad</description>
        <name>PantallaClonarOportunidad</name>
        <label>PantallaClonarOportunidad</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CrearOportunidad</targetReference>
        </connector>
        <fields>
            <name>InformacionOportunidad</name>
            <fieldText>Datos de preferencia</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>InformacionOportunidad_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductoInteresOportunidad</name>
                    <choiceReferences>ProductoInteres</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Producto de interés</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ResidenciaPreferencia</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Residencia de preferencia</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ResidenciaPreferencia__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InformacionOportunidad_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ComunidadOportunidad</name>
                    <choiceReferences>Comunidad</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Comunidad</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>MotivoTraslado</name>
                    <choiceReferences>MotivoDeTraslado</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Motivo de traslado</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>InformacionOportunidad_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DetallesMotivoTraslado</name>
                    <fieldText>Detalles motivo traslado</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>MotivoTraslado</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Otro</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar un mensaje de finalización del proceso</description>
        <name>PantallaFinProceso</name>
        <label>PantallaFinProceso</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedireccionOportunidad</targetReference>
        </connector>
        <fields>
            <name>finProceso</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;El proceso de creación de oportunidad de traslado ha finalizado &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;correctamente&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Pulse el botón &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Siguiente&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; para ser redirigido a la oportunidad creada.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar un mensaje de que se necesita que la oportunidad tenga rellenos los campos Motivo de Ingreso y Detalle Motivo de Ingreso</description>
        <name>PantallaMotivosIngresoPendientes</name>
        <label>PantallaMotivosIngresoPendientes</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RegresaOportunidad</targetReference>
        </connector>
        <fields>
            <name>avisoMotivoYDetalleIngreso</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(234, 49, 49);&quot;&gt;Aviso: Motivo de Ingreso y Detalle Motivo de Ingreso no rellenos&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Los campos &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Motivo de Ingreso&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; y &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Detalle Motivo Ingreso&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; deben estar rellenos &lt;/span&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;para crear una oportunidad de traslado.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar un mensaje de que se necesita que la oportunidad esté en la etapa &quot;Nuevo contactado&quot;, &quot;Seguimiento llamada&quot; o &quot;Visita - Seguimiento&quot; para poder realizar el proceso.</description>
        <name>PantallaNoValida</name>
        <label>PantallaEtapaNoValida</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RegresarOportunidad</targetReference>
        </connector>
        <fields>
            <name>avisoEtapaOportunidad</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px; color: rgb(234, 49, 49);&quot;&gt;Aviso: Etapa de la oportunidad no válida&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;La etapa de la oportunidad debe ser &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Cerrada - Éxito&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&quot; para crear una oportunidad de traslado.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo texto para almacenar el ID de la oportunidad clonada</description>
        <name>oportunidadClonadaID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para almacenar el ID de la oportunidad de origen</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
