force-app/main/default/flows/TareasCompletarTareas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AsignamosTareaActual</name>
        <label>Asignamos la tarea actual</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>TareaUnica</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletarTareas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TareaUnica.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariasTareas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TareaUnica</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CompletarTareas</targetReference>
        </connector>
    </assignments>
    <description>Flujo para completar las tareas relacionadas con una oportunidad</description>
    <environments>Default</environments>
    <interviewLabel>Tareas - Completar tareas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tareas - Completar tareas</label>
    <loops>
        <name>CompletarTareas</name>
        <label>Completar Tareas</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>GetTareas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AsignamosTareaActual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActualizaTareas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTareas</name>
        <label>Obtener Tareas</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CompletarTareas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oportunidad.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActualizaTareas</name>
        <label>Actualiza Tareas</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <inputReference>VariasTareas</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetTareas</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Oportunidad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>TareaUnica</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>VariasTareas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
