force-app/main/default/flows/TAREA_RellenaCentroAsignado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Revisa que el asignado de la tarea no sea una cola</description>
        <name>AsignadoNoSeaCola</name>
        <label>Asignado no sea cola</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>NoCola</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerNombreCentro</targetReference>
            </connector>
            <label>No cola</label>
        </rules>
    </decisions>
    <interviewLabel>TAREA_Rellena Centro del Asignado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TAREA_Rellena Centro del Asignado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObtenerNombreCentro</name>
        <label>Obtener Nombre Centro</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CompletarNombreCentro_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CodigoCentro__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Owner:User.Department</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CorrespondenciaCodigoNombreCentro__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Completa el campo de Centro/ Residencia al que pertenece el asignado de la Tarea</description>
        <name>CompletarNombreCentro_0</name>
        <label>Completar Nombre del Centro</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>CentroResidencia__c</field>
            <value>
                <elementReference>ObtenerNombreCentro.Label</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AsignadoNoSeaCola</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Guardo el nombre del centro que ha coincidido entre el metada y el departamento del usuario</description>
        <name>VariableNombreCentro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.CentroResidencia__c</elementReference>
        </value>
    </variables>
</Flow>
