force-app/main/default/flows/TareaConvertirAEvento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Objeto para redireccionar el flujo al evento creado</description>
        <name>RedireccionarAEvento</name>
        <label>RedireccionarAEvento</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Evento</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>EventoAux.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>Flujo de tipo pantalla para convertir una tarea en un evento</description>
    <environments>Default</environments>
    <formulas>
        <description>Recurso de tipo fórmula que devuelve el valor de la duración del evento</description>
        <name>CalculoDuracionEvento</name>
        <dataType>Number</dataType>
        <expression>round({!ObtenerTarea.CompletedDateTime}-{!ObtenerTarea.CreatedDate},0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Tarea - Convertir A Evento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tarea - Convertir A Evento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creación de registro de tipo evento</description>
        <name>CrearEvento</name>
        <label>Crear Evento</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>EventoAux.Id</assignRecordIdToReference>
        <connector>
            <targetReference>EliminarTarea</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ObtenerTarea.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ObtenerTarea.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <elementReference>CalculoDuracionEvento</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDateTime</field>
            <value>
                <elementReference>ObtenerTarea.CompletedDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notas__c</field>
            <value>
                <elementReference>ObtenerTarea.Notas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ObtenerTarea.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>ObtenerTarea.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Visita residencia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Visita</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>ObtenerTarea.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ObtenerTarea.WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
    </recordCreates>
    <recordDeletes>
        <description>Eliminación de registro de tipo tarea</description>
        <name>EliminarTarea</name>
        <label>Eliminar Tarea</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>PantallaConfirmacion</targetReference>
        </connector>
        <inputReference>ObtenerTarea</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Obtención del registro tarea</description>
        <name>ObtenerTarea</name>
        <label>Obtener Tarea</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CambiarAEvento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerIDTarea</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Pantalla inicial para convertir una tarea en un evento</description>
        <name>CambiarAEvento</name>
        <label>Cambiar a Evento</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CrearEvento</targetReference>
        </connector>
        <fields>
            <name>TextoInicial</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;¿Desea convertir esta llamada en una visita?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Convertir</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla de confirmación</description>
        <name>PantallaConfirmacion</name>
        <label>Pantalla Confirmación</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedireccionarAEvento</targetReference>
        </connector>
        <fields>
            <name>TextoFinalizacion</name>
            <fieldText>&lt;p&gt;La llamada ha sido convertida en una visita correctamente&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtenerTarea</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Variable de tipo registro de evento para almacenar información para ser creado</description>
        <name>EventoAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <description>Variable de tipo texto para almacenar el ID de la tarea a convertir</description>
        <name>ObtenerIDTarea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
