force-app/main/default/flows/TransferirContenido.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Redirección a la cuenta a la que se ha transferido el contenido</description>
        <name>RedirigirCuenta</name>
        <label>RedirigirCuenta</label>
        <locationX>1502</locationX>
        <locationY>5030</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CuentaDestino.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Agregamos la variable auxiliar de vinculo de archivo</description>
        <name>AgregarVinculoArchivo</name>
        <label>AgregarVinculoArchivo</label>
        <locationX>1634</locationX>
        <locationY>4142</locationY>
        <assignmentItems>
            <assignToReference>ColeccionVinculosArchivo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VinculoArchivoAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VaciarVinculoArchivo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Almacenamos el contacto con propietario inactivo</description>
        <name>AlmacenarContacto</name>
        <label>AlmacenarContacto</label>
        <locationX>1172</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>ContactoAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarContactos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionContactosAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactoAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactoInactivo</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetContacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Almacenamos la oportunidad en una variable auxiliar</description>
        <name>AlmacenarOportunidad</name>
        <label>AlmacenarOportunidad</label>
        <locationX>996</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>OportunidadAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarOportunidades</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OportunidadInactiva</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColeccionOportunidadesAux</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OportunidadAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ResetOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignación para almacenar la información del vinculo de archivo</description>
        <name>CopiarVinculoArchivo</name>
        <label>CopiarVinculoArchivo</label>
        <locationX>1634</locationX>
        <locationY>4022</locationY>
        <assignmentItems>
            <assignToReference>VinculoArchivoAux.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarVinculosArchivo.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VinculoArchivoAux.IsDeleted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VinculoArchivoAux.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CuentaDestino.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VinculoArchivoAux.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarVinculosArchivo.ShareType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VinculoArchivoAux.SystemModstamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarVinculosArchivo.SystemModstamp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VinculoArchivoAux.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterarVinculosArchivo.Visibility</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AgregarVinculoArchivo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseteamos la variable de contacto auxiliar</description>
        <name>ResetContacto</name>
        <label>ResetContacto</label>
        <locationX>1172</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>ContactoAux</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IterarContactos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseteamos la variable auxiliar</description>
        <name>ResetOportunidad</name>
        <label>ResetOportunidad</label>
        <locationX>996</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>OportunidadAux</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IterarOportunidades</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignación para eliminar la información del vinculo de archivo</description>
        <name>VaciarVinculoArchivo</name>
        <label>VaciarVinculoArchivo</label>
        <locationX>1634</locationX>
        <locationY>4262</locationY>
        <assignmentItems>
            <assignToReference>VinculoArchivoAux.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VinculoArchivoAux.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VinculoArchivoAux.ShareType</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VinculoArchivoAux.SystemModstamp</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VinculoArchivoAux.Visibility</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>IterarVinculosArchivo</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Nodo de decisión para comprobar si el archivo está compartido en ambas cuentas</description>
        <name>ArchivoCompartido</name>
        <label>ArchivoCompartido</label>
        <locationX>1546</locationX>
        <locationY>3902</locationY>
        <defaultConnector>
            <targetReference>CopiarVinculoArchivo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Compartido</defaultConnectorLabel>
        <rules>
            <name>Compartido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetArchivoEnDestino</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterarVinculosArchivo</targetReference>
            </connector>
            <label>Compartido</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para saber qué objeto tiene propietario inactivo</description>
        <name>ComprobarPropietarioInactivo</name>
        <label>ComprobarPropietarioInactivo</label>
        <locationX>908</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>ExistenOportunidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ninguno</defaultConnectorLabel>
        <rules>
            <name>Oportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OportunidadInactiva</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactoInactivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PantallaOportunidadInactiva</targetReference>
            </connector>
            <label>Oportunidad</label>
        </rules>
        <rules>
            <name>Contacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactoInactivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OportunidadInactiva</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PantallaContactoInactivo</targetReference>
            </connector>
            <label>Contacto</label>
        </rules>
        <rules>
            <name>Ambos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OportunidadInactiva</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactoInactivo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PantallaAmbosInactivo</targetReference>
            </connector>
            <label>Ambos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si existe contenido en la cuenta</description>
        <name>ExisteContenido</name>
        <label>ExisteContenido</label>
        <locationX>1210</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>NoExisteContenido</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetContactos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetArchivos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOportunidades</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ElegirCuenta</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si existen archivos</description>
        <name>ExistenArchivos</name>
        <label>ExistenArchivos</label>
        <locationX>1502</locationX>
        <locationY>3542</locationY>
        <defaultConnector>
            <targetReference>EliminarCuenta</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HayArchivos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetArchivos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterarVinculosArchivo</targetReference>
            </connector>
            <label>Hay Archivos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si existen contactos</description>
        <name>ExistenContactos</name>
        <label>ExistenContactos</label>
        <locationX>1502</locationX>
        <locationY>2942</locationY>
        <defaultConnector>
            <targetReference>ExistenArchivos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HayContactos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContactos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarContactos</targetReference>
            </connector>
            <label>Hay Contactos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si hay oportunidades en la cuenta</description>
        <name>ExistenOportunidades</name>
        <label>ExistenOportunidades</label>
        <locationX>1502</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>ExistenContactos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HayOportunidades</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOportunidades</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ActualizarOportunidades</targetReference>
            </connector>
            <label>Hay Oportunidades</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar que no se ha elegido la misma cuenta de origen y destino</description>
        <name>MismaCuentaOrigenDestino</name>
        <label>MismaCuentaOrigenDestino</label>
        <locationX>479</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>IterarOportunidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Distinta</defaultConnectorLabel>
        <rules>
            <name>Misma</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CuentaDestino.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PantallaMismaCuenta</targetReference>
            </connector>
            <label>Misma</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si el propietario del contacto está inactivo</description>
        <name>PropietarioInactivoContacto</name>
        <label>PropietarioInactivoContacto</label>
        <locationX>1084</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>AlmacenarContacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Inactivo</defaultConnectorLabel>
        <rules>
            <name>Activo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterarContactos.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IterarContactos</targetReference>
            </connector>
            <label>Activo</label>
        </rules>
    </decisions>
    <decisions>
        <description>Nodo de decisión para comprobar si el propietario de la oportunidad está inactivo</description>
        <name>PropietarioInactivoOportunidad</name>
        <label>PropietarioInactivoOportunidad</label>
        <locationX>1128</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>IterarOportunidades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activo</defaultConnectorLabel>
        <rules>
            <name>Inactivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterarOportunidades.Owner.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AlmacenarOportunidad</targetReference>
            </connector>
            <label>Inactivo</label>
        </rules>
    </decisions>
    <description>Flujo de pantalla para transferir el contenido de una cuenta a otra y su posterior borrado
--
V2: Corrección error búsqueda
--
V3: Casuística archivo compartido
--
V4: Casuística misma cuenta
--
V5: Check Transferido en Oportunidad y Cuenta
--
V6: Casuística Propietario Inactivo
--
V7: Optimización Proceso (Eliminar pantalla comprobacion propietario ok)
--
V8: Pantallas errores Oportunidad y Contacto</description>
    <environments>Default</environments>
    <interviewLabel>Transferir Contenido {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transferir Contenido</label>
    <loops>
        <description>Iteramos los contactos de la cuenta</description>
        <name>IterarContactos</name>
        <label>IterarContactos</label>
        <locationX>908</locationX>
        <locationY>1550</locationY>
        <collectionReference>GetContactos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PropietarioInactivoContacto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ComprobarPropietarioInactivo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos por las oportunidades de la cuenta</description>
        <name>IterarOportunidades</name>
        <label>IterarOportunidades</label>
        <locationX>908</locationX>
        <locationY>878</locationY>
        <collectionReference>GetOportunidades</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PropietarioInactivoOportunidad</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IterarContactos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos por los vinculos de los archivos existentes</description>
        <name>IterarVinculosArchivo</name>
        <label>IterarVinculosArchivo</label>
        <locationX>1370</locationX>
        <locationY>3662</locationY>
        <collectionReference>GetArchivos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetArchivoEnDestino</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CrearVinculosArchivo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creamos los vínculos de archivo</description>
        <name>CrearVinculosArchivo</name>
        <label>CrearVinculosArchivo</label>
        <locationX>1370</locationX>
        <locationY>4574</locationY>
        <connector>
            <targetReference>EliminarCuenta</targetReference>
        </connector>
        <inputReference>ColeccionVinculosArchivo</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>Eliminamos la cuenta actual</description>
        <name>EliminarCuenta</name>
        <label>EliminarCuenta</label>
        <locationX>1502</locationX>
        <locationY>4790</locationY>
        <connector>
            <targetReference>ContenidoTransferido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordDeletes>
    <recordLookups>
        <description>Obtenemos el archivo en la cuenta de destino</description>
        <name>GetArchivoEnDestino</name>
        <label>GetArchivoEnDestino</label>
        <locationX>1546</locationX>
        <locationY>3782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ArchivoCompartido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IterarVinculosArchivo.ContentDocumentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CuentaDestino.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos los posibles archivos de la cuenta que se ejecuta en el flujo</description>
        <name>GetArchivos</name>
        <label>GetArchivos</label>
        <locationX>1210</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteContenido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos los posibles contactos de la cuenta que se ejecuta el flujo</description>
        <name>GetContactos</name>
        <label>GetContactos</label>
        <locationX>1210</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetArchivos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos las posibles oportunidades de la cuenta que se ejecuta el flujo</description>
        <name>GetOportunidades</name>
        <label>GetOportunidades</label>
        <locationX>1210</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetContactos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos la cuenta de los contactos</description>
        <name>ActualizarContactos</name>
        <label>ActualizarContactos</label>
        <locationX>1238</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>ExistenArchivos</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaErrorContacto</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CuentaDestino.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transferido__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos la cuenta de las oportunidades</description>
        <name>ActualizarOportunidades</name>
        <label>ActualizarOportunidades</label>
        <locationX>1238</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>ExistenContactos</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PantallaError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>CuentaDestino.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transferida__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <description>Contenido transferido</description>
        <name>ContenidoTransferido</name>
        <label>Contenido transferido</label>
        <locationX>1502</locationX>
        <locationY>4910</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirigirCuenta</targetReference>
        </connector>
        <fields>
            <name>MensajeContenidoTransferido</name>
            <fieldText>&lt;p&gt;El contenido ha sido transferido correctamente, pulse el botón &quot;Siguiente&quot; para completar el proceso y ser redirigida a la cuenta de destino.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Elegir cuenta para transferir el contenido</description>
        <name>ElegirCuenta</name>
        <label>Elegir Cuenta</label>
        <locationX>479</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancelar</backButtonLabel>
        <connector>
            <targetReference>MismaCuentaOrigenDestino</targetReference>
        </connector>
        <fields>
            <name>MensajeTransferirContenido</name>
            <fieldText>&lt;p&gt;Elija la cuenta a la que se va a transferir el contenido.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Importante&lt;/strong&gt;: Una vez iniciado el proceso se realizará la transferencia de contenido y posteriormente el borrado de esta cuenta.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;No se puede deshacer esta operación.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CuentaDestino</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cuenta de destino</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>No existe contenido</description>
        <name>NoExisteContenido</name>
        <label>No existe Contenido</label>
        <locationX>1942</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoHayContenido</name>
            <fieldText>&lt;p&gt;No hay contenido en esta cuenta, por tanto no se puede transferir.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar mensaje de propietario inactivo</description>
        <name>PantallaAmbosInactivo</name>
        <label>PantallaAmbosInactivo</label>
        <locationX>842</locationX>
        <locationY>2342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoAmbos</name>
            <fieldText>&lt;p&gt;A continuación, se muestran los listados de contactos y oportunidades con propietario inactivo.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Para realizar la transferencia de contenido correctamente primero reactive al propietario y vuelva a repetir el proceso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AmbosContactos</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contactos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ColeccionContactosAux</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;OwnerId&quot;,&quot;guid&quot;:&quot;column-b3cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Id. del propietario&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-be70&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nombre completo&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AmbosOportunidades</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Oportunidades</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ColeccionOportunidadesAux</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;OwnerId&quot;,&quot;guid&quot;:&quot;column-2957&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Id. del propietario&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-aa36&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nombre&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar mensaje de propietario inactivo</description>
        <name>PantallaContactoInactivo</name>
        <label>PantallaContactoInactivo</label>
        <locationX>578</locationX>
        <locationY>2342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoContacto</name>
            <fieldText>&lt;p&gt;A continuación, se muestra el listado de contactos con propietario inactivo.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Para realizar la transferencia de contenido correctamente primero reactive al propietario y vuelva a repetir el proceso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contactos</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contactos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ColeccionContactosAux</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;OwnerId&quot;,&quot;guid&quot;:&quot;column-b3cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Id. del propietario&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-be70&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nombre completo&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar el error producido al actualizar una oportunidad</description>
        <name>PantallaError</name>
        <label>PantallaErrorOportunidad</label>
        <locationX>1502</locationX>
        <locationY>2582</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeErrorOportunidad</name>
            <fieldText>&lt;p&gt;Se ha producido un error relacionado con una oportunidad, corrígela antes de realizar la transferencia de contenido:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar el error producido al actualizar un contacto</description>
        <name>PantallaErrorContacto</name>
        <label>PantallaErrorContacto</label>
        <locationX>1502</locationX>
        <locationY>3182</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeErrorContacto</name>
            <fieldText>&lt;p&gt;Se ha producido un error relacionado con un contacto, corrígelo antes de realizar la transferencia de contenido:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para notificar que se ha elegido la misma cuenta que la de origen</description>
        <name>PantallaMismaCuenta</name>
        <label>PantallaMismaCuenta</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>MensajeMismaCuenta</name>
            <fieldText>&lt;p&gt;La cuenta de destino no puede ser igual que la cuenta de origen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar mensaje de propietario inactivo</description>
        <name>PantallaOportunidadInactiva</name>
        <label>PantallaOportunidadInactiva</label>
        <locationX>314</locationX>
        <locationY>2342</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextoOportunidad</name>
            <fieldText>&lt;p&gt;A continuación, se muestra el listado de oportunidades con propietario inactivo.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Para realizar la transferencia de contenido correctamente primero reactive al propietario y vuelva a repetir el proceso.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Oportunidades</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Opportunity</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Oportunidades</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ColeccionOportunidadesAux</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;OwnerId&quot;,&quot;guid&quot;:&quot;column-19d3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Id. del propietario&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1ea5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Nombre&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1084</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOportunidades</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Variable de tipo colección de contactos</description>
        <name>ColeccionContactosAux</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Variable de tipo colección de oportunidades</description>
        <name>ColeccionOportunidadesAux</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable de tipo colección de registros de vinculo de archivo</description>
        <name>ColeccionVinculosArchivo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <description>Variable de tipo contacto</description>
        <name>ContactoAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactoInactivo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable de tipo registro oportunidad</description>
        <name>OportunidadAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Booleano para saber si existe una oportunidad inactiva</description>
        <name>OportunidadInactiva</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable de tipo texto para almacenar el ID actual de la oportunidad</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>recordId</stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable de tipo registro vinculo de archivo</description>
        <name>VinculoArchivoAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
